.about-unit{
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  //background-image: url("../../img/about-unit/bg-image.png") ;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
  .container {
    padding: 0;
  }
  @media screen and (min-width: 577px){
    background-size: 100% auto ;
  }
  @media screen and (min-width: 961px){
    background-size: cover;
    margin-bottom: 0;
    filter: none;

    &::before{
      position: absolute;
      display: block;
      content: '';
      width: 176px;
      height: 92px;
      background-color: rgba($accent-color,.3);
      top: 245px;
      left: -15px;
      -webkit-transform: skewX(-17deg);
      -ms-transform: skewX(-17deg);
      transform: skewX(-17deg);
      z-index: 10;
    }
    .container{
      padding: 0 15px;
    }
  }
  @media screen and (min-width: 1980px){
    background-size: 60% auto;
  }
  .bg-bottom-right, .bg-top-right{
    position: absolute;
    right: 0;
    display: none;
    @media screen and (min-width: 961px){
      display: block;
    }
  }
  .bg-bottom-right{
    bottom: 0;
    width: 460px;
    height: 240px;
    background: url("../../img/about-unit/bg-bottom-right.svg") bottom right no-repeat;
  }
  .bg-top-right{
    top: 0;
    width: 280px;
    height: 253px;
    background: url("../../img/about-unit/bg-top-right.svg") top right no-repeat;
  }
  .skew-bg{
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(white,.6);

    @media screen and (min-width: 961px) {
      left: 20px;
      width: 50%;
      transform-origin: bottom left;
      transform: skewX(-17deg) translateX(-30px);
      background: white;
      &::after{
        content: '';
        display: block;
        position: absolute;
        left: -500px;
        top: 0;
        height: 100%;
        width: 500px;
        background: $bg-gray;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        right: -100px;
        top: 0;
        height: 100%;
        width: 100px;
        background: rgba($main-color, .3);
      }
    }
  }
  &__block{
    box-sizing: border-box;
    @media screen and (min-width: 961px){
      flex-basis: 50%;
      max-width: 685px;
      min-height: 625px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 90px;
    }
  }
  &__desc{
    box-sizing: border-box;
    padding: 18px 15px;
    width: 100%;
    backdrop-filter: blur(4px);
    @media screen and (min-width: 961px){
      padding: 0;
      margin-bottom: 42px;
      backdrop-filter: none;
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 42px;
        font-size: 36px;
      }
    }
  }
  &__text{
    font-size: 16px;
    line-height: 140%;
    color: rgba($main-color-dark,.8);


  }
  &__features{
    background: white;
    box-sizing: border-box;
    padding: 18px 15px;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 961px){
      background: none;
      padding: 0;
    }
    &_item{
      flex-basis: calc(100% / 2 - 4.5px);
      @media screen and (min-width: 961px){
        flex-basis: calc(100% / 2 - 11px);
      }
    }
    &_icon{
      width: 30px;
      height: 30px;
      margin-bottom: 12px;
      @media screen and (min-width: 961px){
        margin-bottom: 25px;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
    &_text{
      font-size: 16px;
      line-height: 140%;
      color: $main-color-dark;
    }
  }
}