.about-service{
  margin-bottom: 30px;
  background-color: white;
  @media screen and (min-width: 961px){
    background-color: white;
    margin-bottom: 0;
  }
  &__block {
    padding: 18px 15px;
    padding-top: 60px;
    @media screen and (min-width: 961px) {
      padding: 60px 0;
      padding-bottom: 90px;
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 30px;
      }
    }
  }
  &__content{
    &_text{
      font-size: 16px;
      line-height: 120%;
      color: rgba($main-color-dark,0.8);
      margin-bottom: 32px;
      @media screen and (min-width: 961px){
        line-height: 140%;
        margin-bottom: 41px;
      }
    }
    &_features{
      display: flex;
      flex-wrap: wrap;
      @media screen and (min-width: 961px){
        justify-content: space-between;
      }
      &-item{
        flex-basis: 100%;
        margin-bottom: 18px;
        @media screen and (min-width: 768px){
          flex-basis: 50%;
          margin-bottom: 0;
          &:first-child{
            margin-bottom: 18px;
          }
        }
        @media screen and (min-width: 961px){
          &:first-child{
            margin-bottom: 0;
          }
          flex-basis: calc(100% / 4 - 10px);
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
      &-image{
        width: 30px;
        height: 30px;
        margin-bottom: 12px;
        @media screen and (min-width: 961px){
          margin-bottom: 25px;
        }
      }
      &-text{
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
}