.about-emergency-room{
  margin-bottom: 30px;
  position: relative;
  @media screen and (min-width: 961px){
    background: white url("../../img/about-emergency-room/bg-top-left.svg");
    background-position: -30px 0px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin-bottom: 0;
    &::before{
      position: absolute;
      display: block;
      content: '';
      width: 176px;
      height: 92px;
      background-color: rgba($accent-color,.3);
      top: 245px;
      left: -15px;
      -webkit-transform: skewX(-17deg);
      -ms-transform: skewX(-17deg);
      transform: skewX(-17deg);
      z-index: 10;
    }
  }
  &__block{
    width: 100%;
    background: white;
    padding: 18px 15px;
    @media screen and (min-width: 961px){
      background: none;
      width: 50%;
      box-sizing: border-box;
      min-height: 587px;
      padding: {
        top: 90px;
        bottom: 64px;
        left: 0;
        right: 15px;
      };
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        font-size: 36px;
        margin-bottom: 42px;
      }
    }
  }
  &__content{
    >h2{
      font-weight: bold;
      font-size: 16px;
      line-height: 140%;
      color: rgba($main-color-dark,.8);
      margin-bottom: 12px;
      @media screen and (min-width: 961px){
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 18px;
      }
    }
    >p{
      font-size: 16px;
      line-height: 140%;
      color: rgba($main-color-dark,.8);
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 22px;
      }
    }
    .text_accent{
      margin: 0;
      margin-bottom: 12px;
    }
    &_address{
      margin: 0;
      margin-bottom: 18px;
      line-height: 140%;
      @media screen and (min-width:961px){
        margin-bottom: 14px;
      }
    }
    &_list{
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 18px;
      &-item{
        display: flex;
        margin-bottom: 12px;
        @media screen and (min-width: 961px){
          line-height: 38px;
          margin-bottom: 6px;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
      &-text{
        span{
          color: $accent-color;
          font-weight: 600;
        }
      }
    }
    button{
      font-size: 14px;
      @media screen and (min-width: 961px){
        max-width: 325px;
        font-size: 18px;
        margin-top: 48px;
      }
    }
  }
  .map{
    display: block;
    position:relative;
    right: 0;
    top: 0;
    width: 100%;
    height: 236px;
    @media screen and (min-width: 961px){
      position: absolute;
      min-height: 587px;
      height: 100%;
      width: 50%;
    }
    .ymaps-2-1-76-ground-pane {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
      -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    }
    .ymaps_maps-button{
      position: relative;
      z-index: 10;
      background: url("../../img/about-emergency-room/route-icon.svg") center no-repeat;
    }
  }
}

