.all-contacts{
  margin-bottom: 30px;
  @media screen and (min-width: 961px){
    margin-bottom: 0;
    //position: relative;
    background: white;
  }
  &__block{
    padding: 18px 15px;
    background: white;
    @media screen and (min-width: 961px){
      position: relative;
      width: 100%;
      max-width: 1667px;
      margin: -77px auto 0;
      box-shadow: 0px 10px 30px rgba(12, 28, 56, 0.08);
      padding: 23px 0;
      z-index: 10;

    }
  }
  &__content{
    .content-row{
      margin: -9px 0;
      display: flex;
      flex-wrap: wrap;
      @media screen and (min-width: 961px){
        padding: 0 15px;
        margin: 0;
      }
      @media screen and (min-width: 1400px){
        padding: 0;
      }
    }
  }
  &__item{
    flex-grow: 1;
    box-sizing: border-box;
    padding: 9px 0;
    flex-basis: 100%;
    @media screen and (min-width: 577px){
      flex-basis: 50%;
    }
    @media screen and (min-width: 961px){
      flex-basis: calc(100% / 4);
      padding: 0 20px 0 0;
      &:last-child{
        padding-right: 0;
      }
    }
    a{
      transition: color .25s;
      &:hover{
        color: $accent-color;
      }
      &:active{
        color: $accent-color-light;
      }
    }
    &_title{
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: $main-color-dark;
    }
    &_content{
      display: flex;
      flex-direction: column;
      >p{
        font-size: 16px;
        line-height: 140%;
        color: rgba($main-color-dark,.8);
        span{
          color: $accent-color;
          font-weight: bold;
        }
      }
      a{
        font-size: 16px;
        line-height: 140%;
        color: $main-color;
        text-decoration: none;
      }
    }
    >div{
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__social{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    &:last-child{
      margin-bottom: 0;
    }
    >a{
      color: rgba($main-color, .8);
      transform: translateY(-1px);
    }
    img{
      width: 16px;
      height: 16px;
      margin-right: 15px;
    }
  }
}