.all-feedback{
  background: white;
  margin-bottom: 30px;
  position: relative;
  @media screen and (min-width: 961px){
    margin-bottom: 0;
    background: url("../../img/all-articles/bg-top-left.svg") top left no-repeat, url("../../img/all-articles/bg-right-bottom.svg") right bottom no-repeat, white;
    &::before{
      position: absolute;
      display: block;
      content: '';
      width: 176px;
      height: 92px;
      background-color: rgba($accent-color,.3);
      top: 245px;
      left: -15px;
      -webkit-transform: skewX(-17deg);
      -ms-transform: skewX(-17deg);
      transform: skewX(-17deg);
      z-index: 10;
    }
  }
  &__block{
    box-sizing: border-box;
    width: 100%;
    padding: 18px 15px;
    @media screen and (min-width: 961px){
      padding: 0;
      padding-top: 90px;
      padding-bottom: 60px;
    }
    .title{
      flex-grow: 1;
      @media screen and (min-width: 961px) {
        font-size: 36px;
      }
    }
  }
  &__head{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
    @media screen and (min-width: 961px){
      margin-bottom: 30px;
      flex-wrap: nowrap;
    }
    button{
      flex-basis: 100%;
      margin-top: 18px;
      @media screen and (min-width: 961px){
        margin-top: 0px;
        flex-basis: unset;
        margin-left: 43px;
        max-width: 325px;
      }
    }
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -18px;
    @media screen and (min-width: 961px) {
      margin-right: -10px;
      margin-left: -10px;
      margin-top: -30px;
    }
    .feedback__item{
      z-index: 11;
      margin-top: 18px;
      @media screen and (min-width: 961px){
        margin-top: 30px;
      }
    }
  }
}