.analogs{
  margin-bottom: 30px;
  @media screen and (min-width: 961px){
    margin-bottom: 0;
  }
  &__block{
    width: 100%;
    background: white;
    padding: 18px 15px;
    @media screen and (min-width: 961px){
      background: none;
      padding: 60px 0;
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 36px;
      }
    }
  }
  &__content{
    width: 100%;
    @media screen and (min-width: 961px){
      display: flex;
      justify-content: space-between;
    }
  }
  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
    @media screen and (min-width: 961px){
      flex-basis: calc(50% - 10px);
    }
    &_item{
      display: flex;
      font-size: 16px;
      line-height: 140%;
      color: rgba($main-color, .8);
      @media screen and (min-width: 961px){
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &_link{
      color: rgba($main-color, .8);
      &:hover{
        color: $main-color;
        text-decoration: underline;
      }
    }
  }
}