@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    margin: 0;
  }
  99% {
    opacity: 0;
    margin-left: -2000px;
  }
}

@-webkit-keyframes popupSlideInUp {
  from {
    -webkit-transform: translate3d(-50%, 100%, 0) ;
    transform: translate3d(-50%, 100%, 0) ;
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(-50%, 0, 0) ;
    transform: translate3d(-50%, 0, 0) ;
  }
}

@keyframes popupSlideInUp {
  from {
    -webkit-transform: translate3d(-50%, 100%, 0) ;
    transform: translate3d(-50%, 100%, 0) ;
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(-50%, 0, 0) ;
    transform: translate3d(-50%, 0, 0) ;
  }
}