.care {
  margin-bottom: 30px;
  .container{
    padding: 0;
  }
  @media screen and (min-width: 961px) {
    background-color: $bg-gray;
    background-image: url("../../img/care/bg-figure-white.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    padding-top: 145px;
    padding-bottom: 60px;
    margin-top: -86px;
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: url("../../img/care/bg-figure-red.svg") top left no-repeat;
    }
    .container{
      padding: 0 15px;
    }
  }


  &__block {
    display: flex;
    @media screen and (max-width: 960px) {
      background: white;
      flex-wrap: wrap;
      padding: 18px 15px;
    }
  }

  &__content {
    flex-basis: 100%;
    @media screen and (min-width: 961px) {
      flex-basis: 50%;
      padding-right: 50px;
    }


    .title {
      margin-bottom: 35px;
      @media screen and (max-width: 960px) {
        margin-bottom: 18px;
      }
    }


    p {
      color: rgba($main-color-dark, .7);
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 18px;
      @media screen and (min-width: 961px) {
        margin-bottom: 35px;
        line-height: 22.4px;
      }
    }

    a {
      background-color: transparent;
      width: 100%;
      margin-bottom: 30px;
      @media screen and (min-width: 961px) {
        width: 325px;
      }
    }
  }

  &__video {
    flex-basis: 100%;
    @media screen and (min-width: 961px) {
      flex-basis: 50%;
    }

    &-block {
      width: 100%;
      background: url("../../img/care/video.png") no-repeat center;
      background-size: contain;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      height: 176px;
      @media screen and (min-width: 961px) {
        height: 324px;
      }
    }
  }
}