.checkup{
  margin-bottom: 30px;
  @media screen and (min-width: 961px){
    margin-bottom: 0;
  }
  &__block{
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;

    @media screen and (min-width: 961px){
      justify-content: space-between;
      padding: 60px 0;
      margin-top: -25px;
    }
  }
  &__item{
    flex-basis: 100%;
    height: 175px;
    padding: 25px;
    padding-top: 30px;
    box-sizing: border-box;
    background: white;
    margin-top: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    &:first-child{
      margin-top: 0;
    }
    &:hover{
      .checkup__item_info{
        background-image: url("../../img/checkup/check_hover-icon.svg")
      }
      //.checkup__item_inf
    }
    @media screen and (min-width: 961px){
      flex-basis: calc(100% / 4 - 20px);
      box-shadow: 0px 6px 12px rgba(8, 18, 36, 0.08);
      &:first-child{
        margin-top: 25px;
      }
    }
    &_title{
      font-weight: 600;
      line-height: 21px;
      flex-grow: 6;
    }
    &_info{
      display: flex;
      width: 100%;
      flex-grow: 1;
      max-height: 20px;
      background: url("../../img/checkup/check-icon.svg") top right / contain no-repeat;
      transition: background-image .5s;
    }
    &_price{
      margin-right: 20px;
    }
  }
}