$main-color: #2A4472;
$main-color-dark: #0A1831;
$main-color-light: #3F5A8A;
$accent-color: #E84E2C;
$accent-color-light: #FF785A;
$bg-gray: #F1F1F1;


body, html {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  background: $bg-gray;
}

body{
  @media screen and (min-width: 961px){
    padding-top: 130px;
  }
}

a {
  text-decoration: none;
}

button, input, a {
  font-family: 'Exo 2', sans-serif;
  cursor: pointer;
}

input[type="text"], input[type="search"], input[type="tel"], input[type="email"] {
  cursor: text;
}

.hide {
  display: none;
}

.current-page{
  color: rgba($main-color-dark,.8);
  display: none;
  @media screen and (min-width: 961px){
    font-size: 14px;
    display: block;
  }
  @media screen and (min-width: 1400px) {
    font-size: 18px;
  }

  a{
    color: rgba($main-color-dark,.8);
    @media screen and (min-width: 961px){
      font-size: 14px;
    }
    @media screen and (min-width: 1400px) {
      font-size: 18px;
    }
    &:hover{
      color: $main-color
    }
  }
}
