$main-color: #2A4472;
$main-color-dark: #0A1831;
$main-color-light: #3F5A8A;
$accent-color: #E84E2C;
$accent-color-light: #FF785A;
$bg-gray: #F1F1F1;

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  background: $bg-gray;
}

a {
  text-decoration: none;
}

button, input, a {
  font-family: 'Exo 2', sans-serif;
  cursor: pointer;
}

input[type="text"], input[type="search"], input[type="tel"], input[type="email"] {
  cursor: text;
}

.hide {
  display: none;
}
