.text-content{
  margin-bottom: 30px;
  background: white;
  @media screen and (min-width: 961px){
    margin-bottom: 0;
  }
  .row{
    >div{
      padding: 18px 15px;
      @media screen and (min-width: 961px){
        padding: 60px 0;
      }
      >*{
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  *{
    color: rgba($main-color-dark, .8);
  }
  p, ul{
    margin-bottom: 18px;
    @media screen and (min-width: 961px){
      margin-bottom: 24px;
    }
  }
  ul{
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    list-style: none;
    padding-left: 24px;
    @media screen and (min-width: 961px){
      flex-basis: calc(50% - 10px);
    }
    li{
      font-size: 16px;
      line-height: 140%;
      padding-left: 24px;
      margin-left: -24px;
      position: relative;
      &::before{
        display: block;
        content: url("../../img/for-patient/red-square.svg");
        transform: translateY(-2px);
        position: absolute;
        left: 0;
        top: 0;
      }
      @media screen and (min-width: 961px){
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  ul.breadcrumbs{
    position: absolute;
    display: none;
    z-index: 10;
    padding: 0;
    margin: 0;
    font-size: 14px;
    left: 15px;
    top: 3px;
    @media screen and (min-width: 768px){
      display: block;
    }
    @media screen and (min-width: 961px){
      top: 10px;
      left: 0px;
    }
    @media screen and (min-width: 1400px){
      font-size: 18px;
      top: 35px;
      left: 0px;
    }
    li{
      display: inline-block;
      text-decoration: none;
      &::before{
        display: none;
      }
      a{
        font-size: 14px;
        color: $main-color-dark;
        text-decoration: none;
        @media screen and (min-width: 1400px){
          font-size: 18px;
        }
        &::after{
          display: inline-block;
          content: "\00a0/";
          color: $main-color-dark;
        }
      }
      &:last-child{
        a{
          &::after{
            display: none;
          }
        }
      }
    }
  }
  a{
    color: $main-color;
    text-decoration: underline;
  }
  h1, h2{
    margin: 0;
    font-size: 20px;
    color: $main-color-dark;
    font-weight: bold;
    margin-bottom: 18px;
    @media screen and (min-width: 577px) {
      font-size: 24px;
    }
    @media screen and (min-width: 961px){
      margin-bottom: 36px;
    }
    @media screen and (min-width: 1400px) {
      font-size: 36px;
    }
  }
  h2{
    margin: 18px 0;
    @media screen and (min-width: 961px){
      margin: 36px 0;
    }
    @media screen and (min-width: 1400px) {
      font-size: 30px;
    }
  }
}