.cost{
  margin-bottom: 30px;
  background: white;
  @media screen and (min-width: 961px){
    margin-bottom: 0;
  }
  &__wrapper{
    width: 623px;
    @media screen and (min-width: 653px){
      width: 100%;
    }
    @media screen and (min-width: 1400){
      width: 1360px;
    }
  }
  &__block{
    flex-grow: 1;
    overflow: hidden;
    padding: 18px 15px;
    //@media screen and (min-width: 577px){
    //  padding: 18px 0
    //}
    @media screen and (min-width: 961px){
      padding: 60px 0 90px 0;
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 36px;
      }
    }
    ul{
      @media screen and (min-width: 961px){
        border: 1px solid #E3E5E8;
        box-sizing: border-box;
      }
      li{
        background: $main-color;
        color: white;
        span{
          padding: 10px 56px;
          cursor: pointer;
          position: relative;
          &::before{
            width: 21px;
            height: 17px;
            content: url("../../img/cost/arrow.svg");
            display: block;
            position: absolute;
            left: 18px;
            top: 50%;
            filter: invert(1) grayscale(1) brightness(5.5);
            transform: translateY(-50%) rotate(180deg);
            transition: transform .5s;
            @media screen and (min-width: 769px){
              left: unset;
              right: 36px;
            }
          }
          @media screen and (min-width: 768px){
            padding: 16px 36px;
          }
        }
        ul{
          display: none;
          border: none;
          li{
            background: #F1F1F1;
            color: $main-color;
            span{
              padding: 10px 56px;
              @media screen and (min-width: 768px){
                padding: 16px 36px;
              }
              &::before{
                filter:none;
              }
            }
            ul{
              display: none;
              border: none;
              li{
                background: white;
                color:$main-color;
                box-sizing: border-box;
                padding: 0 18px;
                @media screen and (min-width: 961px){
                  padding: 0 36px;
                }
                span{
                  &::before{
                    display: none;
                  }
                }
                span.cost__list_content_del{
                  &::before {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    content: '';
                    display: block !important;
                    background-color: $accent-color;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &__list{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    &_item{
      position: relative;
      width: 100%;
      padding: 0;
      &:last-child{
        .cost__list_content{
          border: none;
        }
      }
      span{
        display: flex;
        box-sizing: border-box;
        &:hover{
          text-decoration: underline;
        }
        &.active{
          &::before{
            transform: translateY(-50%) rotate(0deg) !important;
          }
        }
      }
    }
    &_content{
      cursor: pointer;
      display: flex;
      padding: 10px 0;
      align-items: center;
      border-bottom: 1px solid rgba($main-color-dark,.15);

      @media screen and (min-width: 961px){
        border: none;
      }
      &:hover{
        .cost__list_content_title {
          text-decoration: underline;
        }
        button{
          visibility: visible;
        }
      }
      &_title{
        flex-basis: 65%;
      }
      &_price{
        flex-basis: 50%;
        justify-content: center;
        color: $main-color-dark;
        display: flex;
        align-items: center;
        margin-right: 30px;
        &:hover{
          text-decoration: none;
        }
      }
      &_del{
        display: block;
        color: #858C98;
        position: relative;
        margin-left: 23px;
        margin-right: 30px;
        padding: 0!important;
        &:hover{
          text-decoration: none !important;
        }
      }
      button{
        visibility: hidden;
        max-width: 115px;
        @media screen and (min-width: 961px){
          padding: 5px 0;
          max-width: 235px;
        }
      }
    }
  }
}