.cost {
  margin-bottom: 30px;
  background: white;
  @media screen and (min-width: 961px) {
    margin-bottom: 0;
  }

  &__wrapper {
    width: 100%;
    overflow: hidden;
    @media screen and (min-width: 653px) {
      width: 100%;
    }
    @media screen and (min-width: 1400px) {
      max-width: 1360px;
    }
  }

  &__block {
    flex-grow: 1;
    overflow: hidden;
    padding: 18px 15px;
    //@media screen and (min-width: 577px){
    //  padding: 18px 0
    //}
    @media screen and (min-width: 961px) {
      padding: 60px 0 90px 0;
    }

    .title {
      margin-bottom: 18px;
      @media screen and (min-width: 961px) {
        margin-bottom: 36px;
      }
    }

    ul {
      width: 100%;
      @media screen and (min-width: 650px) {
        box-sizing: border-box;
        max-width: 100%;
      }

      > li {
        background: $main-color;
        color: white;
        margin-bottom: 1px;

        > span {
          box-sizing: border-box;
          padding: 16px 56px;
          cursor: pointer;
          position: relative;
          transition: background-color .25s;
          @media screen and (min-width: 769px) {
            padding: 16px 36px;
          }

          &:hover {
            background: $main-color-light;
          }

          &::before {
            width: 17px;
            height: 10px;
            content: '';
            background-image: url("../../img/cost/arrow.svg");
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            position: absolute;
            left: 18px;
            top: 50%;
            filter: invert(1) grayscale(1) brightness(5.5);
            transform: translateY(-50%) rotate(180deg);
            transition: transform .5s;
            @media screen and (min-width: 769px) {
              left: unset;
              right: 36px;
            }
            @media screen and (min-width: 961px) {
              width: 21px;
              height: 17px;
            }
          }
        }

        > ul {
          display: none;
          border: 1px solid #E3E5E8;
          box-sizing: border-box;

          > li {
            border-bottom: 1px solid rgba(10, 24, 49, 0.15);
            background: #F1F1F1;
            color: $main-color;
            margin-bottom: 0;

            &:last-child {
              > .cost__list_content {
                border: none;
              }
            }

            > span {
              box-sizing: border-box;
              padding: 16px 56px;
              @media screen and (min-width: 768px) {
                padding: 16px 36px;
              }

              &:hover {
                color: $main-color;
                background: unset;
              }

              &::before {
                filter: none;
              }
            }

            > span.active {
              border-bottom: 1px solid rgba(10, 24, 49, 0.15);
            }

            > ul {
              display: none;
              border: none;

              > li {
                border: none;
                background: white;
                color: $main-color;
                box-sizing: border-box;

                &:last-child {
                  > .cost__list_content {
                    border: none;
                  }
                }

                span {
                  &::before {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &_item {
      position: relative;
      width: 100%;
      padding: 0;

      &.price-element {
        background: white;
      }

      span {
        display: flex;
        box-sizing: border-box;
        font-size: 14px;
        @media screen and (min-width: 961px) {
          font-size: 17px;
        }

        &.active {
          &::before {
            transform: translateY(-50%) rotate(0deg) !important;
          }
        }
      }
    }

    &_content {
      margin: 0 18px;
      display: flex;
      flex-wrap: wrap;
      padding: 8px 0;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba($main-color-dark, .15);
      @media screen and (min-width: 961px) {
        justify-content: flex-start;
        margin: 0 36px;
        flex-wrap: nowrap;
      }
      &:hover {
        @media screen and (min-width: 961px){
          button {
            visibility: visible;
          }
        }
      }

      &.tv {
        position: relative;
        @media screen and (max-width: 961px){
          margin: 0 25px;
        }

        &::before {
          position: absolute;
          display: block;
          content: '';
          width: 18px;
          height: 18px;
          background: url("../../img/cost/tv.svg") center / contain no-repeat;
          top: 50%;
          transform: translateY(-50%);
          left: -22px;
          @media screen and (min-width: 961px) {
            width: 20px;
            height: 20px;
            left: -28px;
          }
        }
      }

      &_additional {
        flex-basis: 25%;
        text-align: center;
        padding: 0 10px;
        box-sizing: border-box;
        font-size: 14px;
        @media screen and (min-width: 961){
          flex-basis: 15%;
          font-size: 17px;
        }
      }

      &_title {
        flex-basis: 100%;
        flex-grow: 1;
        margin-bottom: 10px;
        font-size: 14px;
        @media screen and (min-width: 961px){
          flex-basis: 50%;
          margin-bottom: 0;
          font-size: 17px;
        }
      }

      &_price {
        white-space: nowrap;
        text-align: center;
        color: $main-color-dark;
        margin-right: 10px;
        @media screen and (min-width: 961px){
          margin: 0 20px;
        }

        &:hover {
          text-decoration: none;
        }
      }

      &_del {
        flex-basis: 100%;
        display: block;
        color: #858C98;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 0 !important;

        &:hover {
          text-decoration: none !important;
        }

        &::before {
          position: absolute;
          width: 100%;
          height: 1px;
          content: '';
          display: block !important;
          background-color: $accent-color;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          opacity: 1;
        }
      }

      button {
        max-width: 115px;
        padding: 5px 0;
        @media screen and (min-width: 961px) {
          visibility: hidden;
        }
        @media screen and (min-width: 1200px) {
          max-width: 235px;
        }
      }
    }
  }
}

//.cost__list_content_price::after {
//  content: "\20BD";
//  margin-left: 0.3em;
//  font-size: 0.95em;
//}
//
//.cost__list_content_del::after {
//  content: "\20BD";
//  margin-left: 0.3em;
//  font-size: 0.95em;
//}

.cost__wrapper {
  @media screen and (max-width: 960px) {
    position: relative;
  }

  //&::after {
  //  display: block;
  //  content: '';
  //  position: absolute;
  //  right: 15%;
  //  top: 16px;
  //  width: 20px;
  //  height: 20px;
  //  background: url("../../img/cost/hand.svg") center / contain no-repeat;
  //  animation: slides 1.5s infinite linear;
  //  @media screen and (min-width: 653px) {
  //    display: none;
  //  }
  //}
}

@keyframes slides {
  from {
    right: 15%;
  }
  50% {
    right: 5%;
  }
  to {
    right: 15%;
  }
}