#price_search{
  @media screen and (min-width: 961px){
    margin-bottom: -90px;
  }
  .staff{
    &__block{
      margin-top: 0;
    }
    &__head{
      padding: 15px;
      background-color: white;
      @media screen and (min-width: 961px) {
        padding: 40px 15px;
      }
    }
    &__content-top{
      margin-bottom: 0;
      padding-top: 0;
    }
    &__search-form-wrapper {
      margin-bottom: 0;
      flex-basis: 100%;
      margin-right: 0;
    }
    &__search-form-field{
      ~ label[for="finder_doc_val"]{
        color: #2a4472;
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        transition: top .2s, font-size .2s;
      }
      &:focus, &.focused {
        ~ label[for="finder_doc_val"] {
          top: 20% !important;
          font-size: 10px;
          left: 15px;
        }
      }
    }
  }
}

.costs-top{
  background: white;
  &__block{
    width: 100%;
    box-sizing: border-box;
    padding: 18px 15px;
    h1{
      margin-bottom: 18px;
    }
    @media screen and (min-width: 961px){
      padding: 0;
      padding-top: 90px;
      padding-bottom: 30px;
      h1{
        font-size: 36px;
        margin-bottom: 36px;
      }
    }
  }
  &__filters{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    @media screen and (min-width: 961px){
      margin: 0 -10px;
      margin-top: -24px;
    }
    &-item{
      flex-basis: calc(50% - 10px);
      margin: 0 5px;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (min-width: 961px){
        flex-grow: unset;
        margin: 0 10px;
        flex-basis: calc(100% / 4 - 20px);
        margin-top: 24px;
      }
    }
  }
}