.direction-services {
  margin-bottom: 30px;
  background-color: white;
  .container{
    padding: 0;
  }
  @media screen and (min-width: 961px) {
    .container{
      padding: 0 15px;
    }
    margin-bottom: 0;
    background: none;
  }

  &__block {
    flex-grow: 1;
    max-width: 100%;
    @media screen and (min-width: 961px) {
      background: white;
      box-shadow: 0px 10px 30px rgba(12, 28, 56, 0.08);
    }


    .title {
      margin-bottom: 18px;
      @media screen and (min-width: 961px) {
        margin-bottom: 36px;
      }
    }
  }
  
  &__head{
    background-color: #F6F7F8;
    padding: 18px 15px;
    padding-bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
    @media screen and (min-width: 961px) {
      background: #F1F1F1;
      padding-top: 40px;
    }
  }
  
  &__tabs{
    margin: 0;
    padding: 0;
    width: 606px;
    @media screen and (min-width: 961px){
      width: 100%;
    }
    &_item{
      display: inline-block;
      margin-right: 18px;
      @media screen and (min-width: 961px){
        margin-right: 55px;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    &_link{
      font-weight: normal;
    }
  }
  &__content{
    padding: 18px 15px;
    @media screen and (min-width: 961px){
      padding: 40px 15px;
    }
    &_item{
      display: none;
      &_active{
        display: block;
      }
      &_text{
        font-size: 16px;
        line-height: 140%;
        color: #0A1831;
        opacity: 0.8;
        margin-bottom: 18px;
      }
      &_details{
        @media screen and (min-width: 961px){
          display: flex;
          justify-content: space-between;
        }
      }
      &_list{
        margin: 0;
        padding: 0;
        list-style: none;
        @media screen and (min-width: 961px){
          flex-basis: calc(50% - 10px);
        }
      }
      &_item{
        display: flex;
        font-size: 16px;
        line-height: 140%;
        color: #2A4472;
      }

    }
  }
}