.direction-master {
  margin-bottom: 30px;
  background-color: white;
  .container{
    padding: 0;
  }
  @media screen and (min-width: 961px) {
    margin-bottom: 0;
    .container{
      padding: 0 15px;
    }
  }

  &__block {
    padding: 18px 15px;
    @media screen and (min-width: 961px) {
      padding: 60px 0;
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 36px;
      }
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px){
      flex-direction: row;
      justify-content: space-between;
      align-items: unset;
    }
  }
  &__desc{
    font-size: 16px;
    line-height: 140%;
    color: #0A1831;
    opacity: 0.8;
    margin-bottom: 18px;
    @media screen and (min-width: 1200px){
      order: 1;
      flex-basis: calc(50% - 60px);
      margin-bottom: 0;
    }
  }
}