.direction-master {
  margin-bottom: 30px;
  background-color: white;
  .container{
    padding: 0;
  }
  @media screen and (min-width: 961px) {
    margin-bottom: 0;
    .container{
      padding: 0 15px;
    }
  }

  &__block {
    padding: 18px 15px;
    @media screen and (min-width: 961px) {
      padding: 60px 0;
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 36px;
      }
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px){
      flex-direction: row;
      justify-content: space-between;
      align-items: unset;
    }
  }
  &__desc{
    font-size: 16px;
    line-height: 140%;
    color: #0A1831;
    opacity: 0.8;
    margin-bottom: 18px;
    @media screen and (min-width: 1200px){
      order: 1;
      flex-basis: calc(50% - 60px);
      margin-bottom: 0;
    }
  }
  &__doctor{
    max-width: 345px;
    background-color: #fcfcfc;
    color: $main-color;
    position: relative;
    font-size: 14px;
    height: 100%;
    padding: 6px;
    box-sizing: border-box;
    @media screen and (min-width: 769px){
      max-width: none;
      display: flex;
      padding: 20px;
    }
    @media screen and (min-width: 1200px){
      max-width: 670px;
      flex-basis: 50%;
    }
    a{
      font-size: 16px;
      @media screen and (min-width: 769px){
        max-width: 325px;
      }
    }
    &_image{
      width: 100%;
      margin-bottom: 12px;
      @media screen and (min-width: 769px){
        max-width: 200px;
        background: url("../../img/direction-master/doctor.png") center / cover no-repeat;
        margin-bottom: 0;
        margin-right: 20px;
      }
      img{
        width: 100%;
        @media screen and (min-width: 769px){
         display: none;
        }
      }
    }
    &_head{
      margin-bottom: 12px;
      @media screen and (min-width: 769px){
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
      }
    }
    &_exp{
      color: #0A1831;
      opacity: 0.5;
      font-size: 14px;
      margin-bottom: 12px;
      @media screen and (min-width: 769px){
        order: 1;
        flex-basis: 30%;
        margin-bottom: 0;
        text-align: right;
      }
    }
    &_name {
      font-size: 18px;
      font-weight: bold;
      margin-top: 0;
      @media screen and (min-width: 769px){
        flex-basis: calc(70% - 15px);
        font-size: 20px;
      }

      span {
        font-weight: normal;
      }
    }

    &_work {
      margin: 0;
      font-size: 16px;
      margin-bottom: 17px;
      @media screen and (min-width: 769px){
        font-size: 18px;
      }
    }

    &_features {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 12px;
      @media screen and (min-width: 769px){
        margin-bottom: 20px;
      }

      li::before {
        content: "-";
        margin-right: 5px;
      }
    }
    &_desc{
      font-size: 14px;
      line-height: 120%;
      color: #444444;
      margin-bottom: 18px;
    }
  }
}