.dropdown-menu__container {
  width: 100%;
  display: none;
  height: 100%;
  background-color: transparent;
  position: relative;
  top: 54px;
  left: 0;
  @media screen and (min-width: 961px) {
    position: fixed;
    top: 129px;
    z-index: 99;
    background-color: rgba(black, .7);
    height: 100vh;
    display: none;
  }
}

.dropdown-menu__open-button {
  position: relative;
}

.dropdown-menu {
  width: 100%;
  position: relative;
  display: block;
  padding-top: 35px;
  @media screen and (min-width: 961px){
    padding-top: 0;
  }

  .title {
    font-size: 18px;
    margin-bottom: 30px;
    padding-left: 15px;
  }

  @media screen and (min-width: 961px) {
    display: flex;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  }


  &__tabs {
    font-size: 14px;
    color: rgba($main-color-dark, .6);
    text-transform: uppercase;
    @media screen and (min-width: 961px) {
      flex-basis: calc(100% / 3);
      background: $bg-gray;
      margin-right: 20px;
      padding: 40px 0;
    }

    ul {
      margin: 0;
      list-style: none;
      padding: 0;
      background-color: white;
      margin-bottom: 15px;
      @media screen and (min-width: 961px) {
        width: 100%;
        max-width: 350px;
        float: right;
        background-color: unset;
      }
    }

    &_item {
      position: relative;
      cursor: pointer;
      padding: 10px 15px;
      border-bottom: 0.5px solid rgba(#2A4472, .2);
      background: transparent;

      &:hover {
        background: $main-color-light;

        .dropdown-menu__tabs_link {
          color: white;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      @media screen and (min-width: 577px) {
        padding: 15px;
      }
      @media screen and (min-width: 961px) {
        padding: 11px;
        padding-right: 0;
        border-bottom: none;

        &:hover {
          background-color: white;
          .dropdown-menu__tabs_link {
            color: #1A305C;
          }

          &::after {
            display: block;
            content: '';
            height: 18px;
            width: 10px;
            background: url("../../img/dropdown-menu/arrow.png") center no-repeat;
            background-size: contain;
            position: absolute;
            right: 5px;
            top: 11px;
          }
        }
      }


      &_active {
        background-color: white;
        @media screen and (min-width: 961px) {
          &::after {
            display: block;
            content: '';
            height: 18px;
            width: 10px;
            background: url("../../img/dropdown-menu/arrow.png") center no-repeat;
            background-size: contain;
            position: absolute;
            right: 5px;
            top: 11px;
          }
        }
      }
    }

    &_link {
      text-decoration: none;
      text-transform: none;
      color: $main-color;
      display: block;
      @media screen and (min-width: 961px) {
        font-weight: bold;
        font-size: 16px;
        color: #1A305C;
        text-transform: uppercase;
      }
    }
  }


  &__content {
    background: white;
    padding: 15px 15px;
    @media screen and (min-width: 961px) {
      flex-grow: 1;
      padding: 51px 0 40px 0;
    }
  }

  &__item {
    width: 100%;
    display: none;

    &_active {
      display: flex;
      flex-wrap:wrap;
      @media screen and (min-width: 961px){
        flex-wrap: nowrap;
      }
    }
  }

  &__column {
    flex-basis: 100%;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 961px) {
      flex-basis: calc(100% / 3);
      max-width: 325px;
      margin-right: 20px;
    }

    ul:last-child {
      li:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin: 0;
      display: block;
      padding: 0;
      list-style: none;
    }
  }


  &__list-item {
    display: flex;
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
    @media screen and (min-width: 961px) {
      margin-bottom: 29px;
    }

    .main-letter {
      position: absolute;
      left: 0;
      color: $accent-color;
      font-weight: bold;
    }
  }

  &__item-link {
    color: $main-color;

    &:hover {
      color: $accent-color
    }
  }
}