.education {
  margin-bottom: 30px;
  background-color: white;
  @media screen and (min-width: 961px) {
    background-color: $bg-gray;
    margin-bottom: 0;
  }

  &__block {
    padding: 18px 15px;
    @media screen and (min-width: 961px) {
      padding: 60px 0;
    }

    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }

    h2, h3, h4, h5, h6 {
      color: $main-color-dark;
      margin-bottom: 12px;
      font-size: 20px;
      @media screen and (min-width: 961px) {
        font-size: 22px;
        margin-bottom: 36px;
      }
      @media screen and (min-width: 1400px) {
        font-size: 28px;
      }
    }

    > p {
      line-height: 140%;
      color: rgba($main-color-dark, .8);
      margin-bottom: 18px;
      @media screen and (min-width: 961px) {
        margin-bottom: 54px;
      }
    }

    > ul {
      margin: 0;
      margin-bottom: 12px;
      padding-left: 21px;
      @media screen and (min-width: 961px) {
        margin-bottom: 24px;
      }

      li {
        list-style-image: url("../../img/for-patient/red-square.svg");
        font-size: 16px;
        line-height: 140%;
        color: rgba($main-color-dark, .8);
      }
    }
  }
}