.education{
  margin-bottom: 30px;
  background-color: white;
  @media screen and (min-width: 961px){
    background-color: $bg-gray;
    margin-bottom: 0;
  }
  &__block{
    padding: 18px 15px;
    @media screen and (min-width: 961px){
      padding: 60px 0;
    }
  }
  &__article{
    margin-bottom: 18px;
    @media screen and (min-width: 961px){
      margin-bottom: 55px;
    }
    &:last-child{
      margin-bottom: 0;
    }
    .title{
      margin-bottom: 12px;
      @media screen and (min-width: 961px){
        margin-bottom: 36px;
      }
    }
  }
  &__text{
    line-height: 140%;
  }
}