.feedback {
  background: white;
  padding: 18px 15px 30px 15px;
  margin-bottom: 30px;

  .container {
    padding: 0;
  }

  @media screen and (min-width: 961px) {
    position: relative;
    background-image: url("../../img/feedback/bg-figure-gray.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 0;
    margin: auto;
    .container {
      padding: 0 15px;
    }

    .quote {
      box-sizing: border-box;
      position: absolute;
      width: 135px;
      height: 72px;
      padding: 15px;
      top: -30px;
      left: 5%;
      z-index: 10;
      background: rgba(#0A1831, .1);
      transform: skewX(-15deg);

      &::before {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background: url("../../img/feedback/quote.svg") center no-repeat;
        transform: skewX(15deg);
      }
    }
  }

  &__head {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    margin-bottom: 45px;
    @media screen and (max-width: 960px) {
      margin-bottom: 18px;
      .title {
        margin-right: 15px;
      }
    }
  }

  &__position {
    flex-grow: 1;
    font-size: 14px;
    color: #2A4472;
    @media screen and (min-width: 577px) {
      font-size: 18px;
    }
    @media screen and (min-width: 769px) {
      display: none;
    }

    &_current {
      font-size: 20px;
      font-weight: bold;
      @media screen and (min-width: 577px) {
        font-size: 24px;
      }
    }

  }

  &__control-panel {
    display: flex;
    align-items: center;

    a {
      font-size: 16px;
      color: $main-color;
    }

    .arrows {
      display: none;
      @media screen and (min-width: 961px) {
        display: flex;
        position: static;
        margin-left: 50px;
      }
    }
  }

  &__slider {
    width: 100%;
    @media screen and (min-width: 961px) {
      width: calc(100% + 15px);
    }
  }

  &__item.slick-slide {
    //@media screen and (max-width: 960px) {
    display: block;
    //}
  }

  &__item {
    background-color: #F6F7F8;
    padding: 12px;
    margin-right: 0;
    max-width: 670px;
    box-sizing: border-box;
    min-height: 276px;
    transition: background-color .35s;

    &:hover {
      background-color: white;

      .feedback__item-content {
        &::before {
          background: linear-gradient(0deg, white, rgba(255,255,255,0));
        }
      }
    }

    @media screen and (min-width: 769px) {
      margin-right: 10px;
    }
    @media screen and (min-width: 961px) {
      padding: 20px 37px;
      margin-right: 20px;
      min-height: 251px;
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      flex-wrap: wrap;
      @media screen and (min-width: 961px) {

        margin-bottom: 15px;
      }

      &-user {
        position: relative;
        display: flex;
        align-items: center;
        @media screen and (max-width: 960px) {
          padding-top: 13px;
        }

        &-image {
          display: inline-block;
          margin-right: 12px;
          width: 30px;
          height: 30px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 50%;
        }

        &-info {
          display: inline-block;

          p, small {
            margin: 0;
          }
        }


        &-username {
          font-size: 14px;
          @media screen and (min-width: 961px) {
            font-size: 16px;
          }
        }

        &-date {
          font-size: 14px;
          color: rgba(black, .5);
          @media screen and (min-width: 961px) {
            font-size: 12px;
          }
        }
      }

      &-portal {
        display: flex;
        @media screen and (max-width: 960px) {
          order: -1;
          flex-basis: 100%;
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(42, 68, 114, 0.2);
        }

        &-text {
          margin: 0;
          margin-right: 10px;
          @media screen and (max-width: 960px) {
            font-size: 14px;
            margin-top: 2px;
          }
        }

        &-image {
          img {
            transform: translateY(-2px);
          }
        }
      }
    }

    &-content {
      position: relative;
      width: 100%;
      max-height: 90px;
      line-height: 120%;
      overflow: hidden;
      color: rgba(black, .7);
      margin-bottom: 12px;
      cursor: pointer;
      transition: all .5s;
      outline: none;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        content: '';
        background: linear-gradient(0deg, #F6F7F8,rgba(255,255,255,0));
        z-index: 10;
        width: 100%;
        height: 100%;
        transition: background-color .25s;
      }

      &_unhide {
        outline: none;
        overflow: visible;
        max-height: none;

        &::before {
          display: none;
        }
      }

      &-text {
        margin: 0;
      }
    }

    &-about {
      padding-top: 12px;
      border-top: 1px solid rgba($main-color, .2);
      color: rgba(black, .7);

      &-doctor {
        margin-top: 0;
        margin-bottom: 5px;
        @media screen and (max-width: 960px) {
          font-size: 14px;
        }
      }

      &-ordinary {
        margin: 0;
        @media screen and (max-width: 960px) {
          font-size: 14px;
        }
      }
    }
  }
}