.for-patient{
  margin-bottom: 30px;
  @media screen and (min-width: 961px){
    background: white;
    margin-bottom: 0;
  }
  &__block{
    background: white;
    padding: 18px 15px;
    @media screen and (min-width: 961px){
      padding: 0;
      padding-bottom: 60px;
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 36px;
      }
    }
    *{
      color: rgba($main-color-dark,.8);
    }
    h2{
      color: $main-color-dark;
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 36px;
      }
    }

    p{
      margin-bottom: 18px;
    }

    ul{
      margin: 0;
      margin-bottom: 18px;
      li{
        list-style-image: url("../../img/for-patient/red-square.svg");
        font-size: 16px;
        line-height: 140%;
      }
      p{
        margin-bottom: 0;
      }
    }
  }
}