.for-patient{
  margin-bottom: 30px;
  @media screen and (min-width: 961px){
    background: white;
    margin-bottom: 0;
  }
  &__block{
    width: 100%;
    background: white;
    padding: 18px 15px;
    @media screen and (min-width: 961px){
      padding: 0;
      padding-bottom: 60px;
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 36px;
      }
    }
    *{
      color: rgba($main-color-dark,.8);
    }
    h2{
      color: $main-color-dark;
      font-size: 20px;
      margin-bottom: 18px;
      @media screen and (min-width: 577px){
        font-size: 24px;
      }
      @media screen and (min-width: 961px){
        margin-bottom: 26px;
        font-size: 30px;
      }
    }
    h3{
      margin-bottom: 12px;
      @media screen and (min-width: 961px){
        margin-bottom: 18px;
      }
    }

    p{
      margin-bottom: 18px;
    }

    ul{
      margin: 0;
      margin-bottom: 18px;
      li{
        list-style:none;
        position: relative;
        font-size: 16px;
        line-height: 140%;
        padding-left: 24px;
        margin-left: -24px;
        &::before{
          display: block;
          content: url("../../img/for-patient/red-square.svg");
          transform: translateY(-2px);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      p{
        margin-bottom: 0;
      }
    }

    .video-snippet{
      margin: 10px 0;
      @media screen and (min-width: 961px){
        width: 50%;
      }
    }
  }
}