.hurts {
  margin-bottom: 30px;
  @media screen and (min-width: 961px) {
    margin-bottom: 0;
    background: white;
  }
  &__block{
    padding: 18px 15px;
    background: white;
    width: 100%;
    @media screen and (min-width: 961px){
      padding: 60px 0;
      background: none;
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 42px;
      }
    }
  }
  ul{
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media screen and (min-width: 961px) {
      flex-direction: row;
      margin-top: -18px;
    }
    li{
      font-size: 16px;
      padding-left: 24px;
      position: relative;
      margin-bottom: 18px;
      flex-basis: 100%;
      @media screen and (min-width: 961px) {
        margin-bottom: 0;
        margin-right: 34px;
        flex-basis: unset;
        margin-top: 18px;
      }

      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }
      &::before{
        display: block;
        content: url("../../img/for-patient/red-square.svg");
        transform: translateY(-2px);
        position: absolute;
        left: 0;
        top: 0;
      }
      a{
        font-weight: 600;
        text-decoration: underline;
        color: #2A4472;
        transition: color .2s;
        &:hover{
          color: $accent-color;
        }
        &:active{
          color: $accent-color-light;
        }
      }
    }
  }
}