.infoblock {
  margin-bottom: 30px;
  background: white;
  @media screen and (min-width: 961px) {
    margin-bottom: 0;
  }

  &__block {
    width: 100%;
    padding: 18px 15px;
    @media screen and (min-width: 961px) {
      padding: 60px 0;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 24px;
    @media screen and (min-width: 961px) {
      margin-bottom: 50px;
      flex-direction: row;
    }

    &:last-child {
      margin-bottom: 0;
    }
    &_content{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      margin-bottom: 24px;
      @media screen and (min-width: 961px){
        margin-bottom: 0px;
        padding-right: 10px;
        &:nth-child(2){
          padding-left: 10px;
          padding-right: 0;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
      *{
        margin-bottom: 18px;
        @media screen and (min-width: 961px){
          margin-bottom: 36px;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
      p{
        font-size: 16px;
        line-height: 150%;
        color: rgba($main-color-dark,.8);
        @media screen and (min-width: 961px){
          font-size: 16px;
          line-height: 150%;
          color: $main-color-dark;
        }
      }
      img{
        width: 100%;
        @media screen and (min-width: 961px){
          max-width: 669px;
        }
      }
    }
  }
}