.infoblock {
  margin-bottom: 30px;
  background: white;
  @media screen and (min-width: 961px) {
    margin-bottom: 0;
  }

  &__block {
    width: 100%;
    box-sizing: border-box;
    padding: 18px 15px;
    @media screen and (min-width: 961px) {
      padding: 60px 0;
    }
    a{
      color: $main-color;
      transition: color .3s;
      cursor: pointer;

      &:hover {
        color: $accent-color;
      }

      &:active {
        color: $accent-color-light;
      }
    }
  }

  &__row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: -12px;
    margin-bottom: -12px;
    @media screen and (min-width: 961px) {
      margin: 0 -10px;
      flex-direction: row;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 24px;
    @media screen and (min-width: 961px) {
      margin-bottom: 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }
    &_content{
      max-width: 100%;
      box-sizing: border-box;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      padding: 12px 0;
      color: $main-color-dark;
      @media screen and (min-width: 961px){
        flex-basis: 50%;
        margin-bottom: 0px;
        padding: 0 10px;
        &:nth-child(2){
          padding-left: 10px;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
      &.col-3{
         @media screen and (min-width: 961px){
           flex-basis: calc(100% / 3);
         }
      }
      &.col-4{
        @media screen and (min-width: 961px){
          flex-basis: calc(100% / 4);
        }
      }
      >*{
        margin-bottom: 18px;
        @media screen and (min-width: 961px){
          margin-bottom: 36px;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
      h1{
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: $main-color-dark;
        margin-bottom: 18px;
        @media screen and (min-width: 961px) {
          font-size: 36px;
          line-height: 48px;
          margin-bottom: 32px;
        }
      }
      h2{
        font-size: 20px;
        color: $main-color-dark;
        font-weight: bold;
        @media screen and (min-width: 577px) {
          font-size: 24px;
        }
        @media screen and (min-width: 1400px) {
          font-size: 30px;
        }
      }
      h3,h4,h5,h6{
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
        @media screen and (min-width: 961px) {
          margin-top: 4px;
          margin-bottom: 18px;
          font-size: 18px;
        }
      }
      p{
        font-size: 16px;
        line-height: 150%;
        color: rgba($main-color-dark,.8);
        @media screen and (min-width: 961px){
          font-size: 16px;
          line-height: 150%;
          color: $main-color-dark;
        }
      }
      ul{
        margin: 0;
        margin-bottom: 18px;
        padding-left: 24px;
        li{
          color: $main-color-dark;
          list-style:none;
          position: relative;
          font-size: 16px;
          line-height: 140%;
          padding-left: 24px;
          margin-left: -24px;
          &::before{
            display: block;
            content: url("../../img/for-patient/red-square.svg");
            transform: translateY(-2px);
            position: absolute;
            left: 0;
            top: 0;
          }
        }

        p{
          margin-bottom: 0;
        }
      }
      a{
        color: $main-color-light;
        text-decoration: none;
        padding-bottom: 1px;
        border-bottom: 1px solid $main-color-light;
        transition: color .2s, border-color .2s;
        &:hover{
          color: $accent-color;
          border-bottom-color: $accent-color;
        }
        &:active{
          color: $accent-color-light;
          border-bottom-color: $accent-color-light;

        }
      }
      .content-image{
        width: 100%;
        //@media screen and (min-width: 769px){
        //  width: 50%;
        //}
      }
      img{
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        //@media screen and (min-width: 961px){
        //  max-width: 669px;
        //}
      }

      .accent__info {
        background-color: white;
        margin: 12px 0;
        padding: 8px;
        border: 1px solid $accent-color;
        @media screen and (min-width: 961px) {
          margin: 18px 0;
          display: flex;
          align-items: center;
          padding: 20px 18px;
        }

        &.blue {
          border: 1px solid $main-color;

          .accent__info_icon {
            img {
              filter: hue-rotate(180deg) brightness(0.6);
            }
          }

          ul {
            li {
              &::before {
                filter: hue-rotate(180deg) brightness(0.5);
              }
            }
          }
        }

        > ul {
          margin: 0 10px;
          padding-left: 24px;

          li {
            font-size: 14px;
            list-style: none;
            position: relative;
            padding-left: 24px;
            color: $main-color-dark;
            line-height: 140%;
            margin-left: -24px;
            @media screen and (min-width: 961px) {
              font-size: 16px;
            }

            &::before {
              display: block;
              content: url("../../img/for-patient/red-square.svg");
              transform: translateY(-2px);
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }

        &_icon {
          margin-bottom: 5px;
          width: 16px;
          height: 16px;
          @media screen and (min-width: 961px) {
            min-width: 40px;
            min-height: 40px;
            margin-bottom: 0;
            margin-right: 20px;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        > p {
          margin: 0;
          font-size: 14px;
          @media screen and (min-width: 961px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}