.infoblock {
  margin-bottom: 30px;
  background: white;
  @media screen and (min-width: 961px) {
    margin-bottom: 0;
  }

  &__block {
    width: 100%;
    box-sizing: border-box;
    padding: 18px 15px;
    @media screen and (min-width: 961px) {
      padding: 60px 0;
    }
  }

  &__row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: -12px;
    margin-bottom: -12px;
    @media screen and (min-width: 961px) {
      margin: 0 -10px;
      flex-direction: row;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 24px;
    @media screen and (min-width: 961px) {
      margin-bottom: 50px;
    }

    &:last-child {
      margin-bottom: 0;
    }
    &_content{
      max-width: 100%;
      box-sizing: border-box;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      padding: 12px 0;
      color: $main-color-dark;
      @media screen and (min-width: 961px){
        flex-basis: 50%;
        margin-bottom: 0px;
        padding: 0 10px;
        &:nth-child(2){
          padding-left: 10px;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
      &.col-3{
         @media screen and (min-width: 961px){
           flex-basis: calc(100% / 3);
         }
      }
      &.col-4{
        @media screen and (min-width: 961px){
          flex-basis: calc(100% / 4);
        }
      }
      >*{
        margin-bottom: 18px;
        @media screen and (min-width: 961px){
          margin-bottom: 36px;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
      h1{
        font-weight: bold;
        font-size: 20px;
        line-height: 120%;
        color: $main-color-dark;
        margin-bottom: 18px;
        @media screen and (min-width: 961px) {
          font-size: 36px;
          line-height: 48px;
          margin-bottom: 32px;
        }
      }
      h2{
        font-size: 20px;
        color: $main-color-dark;
        font-weight: bold;
        @media screen and (min-width: 577px) {
          font-size: 24px;
        }
        @media screen and (min-width: 1400px) {
          font-size: 30px;
        }
      }
      h3,h4,h5,h6{
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
        @media screen and (min-width: 961px) {
          margin-top: 4px;
          margin-bottom: 18px;
          font-size: 18px;
        }
      }
      p{
        font-size: 16px;
        line-height: 150%;
        color: rgba($main-color-dark,.8);
        @media screen and (min-width: 961px){
          font-size: 16px;
          line-height: 150%;
          color: $main-color-dark;
        }
      }
      ul{
        margin: 0;
        margin-bottom: 18px;
        padding-left: 24px;
        li{
          color: $main-color-dark;
          list-style:none;
          position: relative;
          font-size: 16px;
          line-height: 140%;
          padding-left: 24px;
          margin-left: -24px;
          &::before{
            display: block;
            content: url("../../img/for-patient/red-square.svg");
            transform: translateY(-2px);
            position: absolute;
            left: 0;
            top: 0;
          }
        }

        p{
          margin-bottom: 0;
        }
      }
      a{
        color: $main-color;
        text-decoration: none;
        transition: color .2s;
        &:hover{
          color: $accent-color;
        }
        &:active{
          color: $accent-color-light;
        }
      }
      .content-image{
        width: 100%;
        //@media screen and (min-width: 769px){
        //  width: 50%;
        //}
      }
      img{
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        //@media screen and (min-width: 961px){
        //  max-width: 669px;
        //}
      }
    }
  }
}