.infoblock {
  margin-bottom: 30px;
  background: white;
  @media screen and (min-width: 961px) {
    margin-bottom: 0;
  }

  &__block {
    width: 100%;
    padding: 18px 15px;
    @media screen and (min-width: 961px) {
      padding: 60px 0;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 24px;
    width: 100%;
    flex-direction: column;
    @media screen and (min-width: 961px) {
      margin-bottom: 50px;
      flex-direction: row;
    }

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 18px;
      @media screen and (min-width: 961px) {
        margin-bottom: 36px;
      }
    }

    &_content{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 0px;
      }
      &:last-child{
        margin-bottom: 0;
      }
      &:nth-child(2){
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          max-width: 100%;
          margin-bottom: 18px;
          &:last-child{
            margin-bottom: 0;
          }
          @media screen and (min-width: 961px) {
            margin-left: 20px;
            height: 100%;
            max-height: 350px;
            max-width: 100%;
            width: auto;
          }
        }
      }
      img{
        display: none;
        width: 100%;
        max-width: 100%;
        margin-bottom: 18px;
        &:last-child{
          margin-bottom: 0;
        }
        @media screen and (min-width: 961px) {
          margin-left: 20px;
          height: 100%;
          max-height: 350px;
          max-width: 100%;
          width: auto;
        }
      }

    }


    p {
      margin: 0;
      line-height: 150%;
      color: rgba($main-color-dark, .8);
      flex-grow: 1;
    }
  }
}