.insurances {
  background: white;
  position: relative;
  margin-bottom: 30px;
  @media screen and (min-width: 961px) {
    margin-bottom: 0;
    background: url("../../img/all-articles/bg-top-left.svg") top left no-repeat, url("../../img/all-articles/bg-right-bottom.svg") right bottom no-repeat, white;
    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 176px;
      height: 92px;
      background-color: rgba($accent-color, .3);
      top: 245px;
      left: -15px;
      -webkit-transform: skewX(-17deg);
      -ms-transform: skewX(-17deg);
      transform: skewX(-17deg);
      z-index: 10;
    }
  }

  &__block {
    box-sizing: border-box;
    width: 100%;
    padding: 18px 15px;
    @media screen and (min-width: 961px) {
      padding: 90px 0 60px;
    }

    .title {
      margin-bottom: 18px;
      @media screen and (min-width: 961px) {
        margin-bottom: 30px;
        font-size: 30px;
      }
    }
  }
  &__content{
    width: 100%;
    overflow: hidden;
    .partners{
      &__row{
        flex-wrap: wrap;
        margin-top: -18px;
        @media screen and (min-width: 577px) {
          margin-right: -4.5px;
          margin-left:  -4.5px;
        }
        @media screen and (min-width: 961px) {
          margin-right: -10px;
          margin-left:  -10px;
        }
      }
      &__col{
        flex-basis: 100%;
        padding: 0;
        margin-top: 18px;
        @media screen and (min-width: 577px) {
          flex-grow: 1;
          flex-basis: 50%;
          padding: 0 4.5px;
        }
        @media screen and (min-width: 961px){
          padding: 0 10px;
          &:last-child, &:first-child{
            padding: 0 10px;
          }
        }
        &:last-child, &:first-child{
          padding: 0 4.5px;
        }
      }
      &__item{
        min-width: unset;
        max-width: none;
      }
      &__image{
        width: 100%;
        img{
          max-width: 100%;
        }
      }
    }
  }
}