.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  @media screen and (min-width: 577px) {
    padding: 0 15px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 1380px
  }

  &_size_1667 {
    max-width: 1667px !important;
    @media screen and (max-width: 576px) {
      max-width: none;
    }
  }
  &_fluid{
    max-width: 100%;
    padding: 0;
  }
}

.row {
  position: relative;
  display: flex;

  &_between {
    justify-content: space-between;
  }

  &_center {
    align-items: center;
  }

  &_start {
    align-items: flex-start;
  }
}

.title {
  margin: 0;
  font-size: 20px;
  color: $main-color-dark;
  font-weight: bold;
  @media screen and (min-width: 577px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 30px;
  }
}

.content {
  width: 100%;
  box-sizing: border-box;
  @media screen and (min-width: 1400px) {
    max-width: 1360px;
    margin: 0 auto;
  }

  &_flex {
    display: flex;
    flex-wrap: nowrap;
  }

  &_between {
    justify-content: space-between;
  }
}

.upside__block{
  position: relative;
  top: -30px;
  z-index: 10;
}

.column {
  max-width: 290px;
  width: 100%;
}

.btn {
  outline: 0;
  padding: 15px 0;
  text-align: center;
  background: none;
  border: none;
  transition: background-color .5s, color .3s;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;

  @media screen and (min-width: 961px) {
    padding: 20px 0;
    font-size: 16px;
  }

  &_size_18{
    @media screen and (min-width: 1400px) {
      font-size: 18px;
    }
  }

  &_white {
    border: 1px solid $main-color;
    background-color: white;
    color: $main-color;

    &:hover {
      background-color: $main-color;
      color: white;
    }

    &:active {
      background-color: $main-color-light;
    }

    &_fill {
      border: 1px solid $main-color;
      background-color: $main-color;
      color: white;

      &:hover {
        background-color: $accent-color;
      }

      &:active {
        background-color: $accent-color-light;
      }
    }
  }

  &_red {
    border: 1px solid $accent-color;
    background-color: white;
    color: $accent-color;

    &:hover {
      background-color: $accent-color;
      color: white;
    }

    &:active {
      background-color: $accent-color-light;
    }

    &_fill {
      border: 1px solid $accent-color;
      background-color: $accent-color;
      color: white;

      &:hover {
        background-color: $main-color;
        border-color: transparent;
      }

      &:active {
        background-color: $main-color-light;
      }
    }
  }

  &_dark {
    background-color: $main-color;
    border: 0;
    padding: 15px 0;
    color: white;

    &:hover {
      background-color: $accent-color;
    }
  }

  &_tr {
    background: none;
    border: 1px solid $main-color;
    color: $main-color;

    &:hover {
      background-color: $main-color;
      color: white;
    }
  }
}

.arrows {

  bottom: 0;
  right: 0;
  display: flex;
  height: 100%;
  align-items: center;
  z-index: 20;
  @media screen and (min-width: 961px) {
    position: absolute;
  }

  &__arrow-left {
    display: inline-block;
    margin-right: 25px;
    @media screen and (min-width: 961px) {

      margin-right: 36px;
    }
  }

  &__arrow-right {
    display: inline-block;

    &::before {
      transform: rotate(180deg);
    }
  }
}

.arrow {
  width: 60px;
  height: 16px;
  position: relative;
  cursor: pointer;
  transition: filter .3s, transform .3s;
  @media screen and (max-width: 960px) {
    width: 23px;
  }

  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: contain;
    background: url("../../img/specialists/arrow-small.svg") center no-repeat;
    @media screen and (min-width: 961px) {
      background: url("../../img/specialists/arrow.svg") center no-repeat;
    }
  }

  &:hover {
    filter: saturate(4) hue-rotate(152deg);
    transform: scale(1.2);
  }
}

.arrow-back {
  padding-left: 15px;
  margin-bottom: 30px;
}

.with-arrow {
  width: 30%;
  height: 100%;
  display: block;
  background: url("../../img/header/arrow.svg") right no-repeat;
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: all;

  &:hover {
    filter: grayscale(1) invert(1) brightness(1000);
    cursor: pointer;
  }
}

.select-buttons__button_active {
  background-color: $accent-color !important;
}

.link{
  color: $main-color;
  &:hover {
    color: $accent-color;
  }
  &:active {
    color: $accent-color-light;
  }
}

.tab-link_red{
  font-weight: 600;
  color: $main-color;
  transition: color .5s;

  font-size: 16px;
  padding-bottom: 16px;
  display: block;
  @media screen and (min-width: 961px) {
    font-size: 18px;
    padding-bottom: 20px;
    &:hover {
      color: $accent-color;
      border-bottom: 2px solid $accent-color;
      height: calc(100% - 2px);
    }
    &:active{
      background: none;
    }
  }

  &::after {
    transition: all .5s;
  }

  &_active {
    color: $accent-color !important;
    position: relative;
    font-weight: 600!important;
    @media screen and (min-width: 961px) {
      border-bottom: 2px solid $accent-color;
      height: calc(100% - 2px);
    }
    @media screen and (max-width: 960px) {
      transition: background-color .5s;
      &::after {
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $accent-color;
        left: 0;
        bottom: 0;
        position: absolute;
        transition: background-color .5s;

      }
    }
  }

  &:focus {
    outline: none;
  }
}

.list-item{
  &_red-square{
    &:before {
      display: inline-block;
      content: '';
      width: 14px;
      height: 6px;
      margin-right: 10px;
      background-color: $accent-color;
      transform: translateY(-50%) skewX(-15deg);

    }
  }
}

.breadcrumbs{
  position: absolute;
  z-index: 10;
  padding: 0;
  margin: 0;
  @media screen and (min-width: 961px){
    font-size: 14px;
    top: 10px;
    left: 0px;
  }
  @media screen and (min-width: 1400px){
    font-size: 18px;
    top: 35px;
    left: 0px;
  }
  li{
    display: inline-block;
    a{
      color: $main-color-dark;
      &::after{
        display: inline-block;
        content: "\00a0/";
        color: $main-color-dark;
      }
    }
    &:last-child{
      a{
        &::after{
          display: none;
        }
      }
    }
  }
}

.hamburger {
  position: relative;
  right: 0;
  padding: 15px;
  display: block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  border: 0;
  margin: 0;
  overflow: visible;
  background-color: $accent-color;
  @media screen and (min-width: 961px) {
    display: none;
  }
}

.hamburger:hover {
  opacity: 1;
}

.hamburger:focus {
  outline: none;
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.hamburger-box {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 21px;
  height: 2px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10.5px;
}

.hamburger-inner::after {
  bottom: -10.5px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.popup-iphone {
  background-color: rgba($main-color-light, .4);
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 10001;
  left: 0;
  top: 0;
  display: none;
  &_active{
    display: block;
  }

  &__block {
    text-align: center;
    width: 100%;
    max-width: 360px;
    background-color: transparent;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-bottom: 15px;
    animation: popupSlideInUp;
    animation-duration: 500ms;
    animation-fill-mode: both;
    color: #1074E9;
    z-index: 10003;

    a {
      color: #1074E9;
      display: block;
    }
  }

  &__item {
    background-color: white;
    overflow: hidden;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
  }

  &__actions {
    margin-bottom: 10px;
  }

  &__action {
    padding: 20px 0;
    border-bottom: 1px solid rgba(#2A4472, 0.25);

    &:last-child {
      border-bottom: none;
    }
  }

  &__cancel {
    padding: 20px 0;
    font-weight: bold;
  }
}