.nav-links{
  background: white;
  margin-bottom: 30px;
  .container{
    padding: 0;
  }
  @media screen and (min-width: 961px){
    background: none;
    margin-bottom: 0;
    .container{
      padding: 0 15px;
    }
  }
  &__block{
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 100vw;
    overflow: hidden;
    @media screen and (min-width: 961px){
      width: 100%;
      padding: 0;
    }
  }
  &__list{
    margin: 0;
    list-style: none;
    min-width: 915px;
    padding: 0;
    @media screen and (min-width: 961px){
      padding: 0 85px;
      display: flex;
      justify-content: space-between;
    }
  }
  &__item{
    display: inline-block;
    margin-right: 18px;
    @media screen and (min-width: 961px){
      margin-right: 0;
    }
    //float: left;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link.tab-link_red{
    position: relative;
    font-size: 16px;
    padding-top: 18px;
    font-weight: normal;
    box-sizing: border-box;
    height: 100%;
    &::after{
      display: block;
      opacity: 0;
      transition: opacity .5s;
      content: '';
    }
    &:hover {
      height: 100%;
      &::after{
        opacity: 1;
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
        left: 0;
        content: '';
        background-color: $accent-color;
      }
    }
    &.tab-link_red_active{
      border: none;
      &::after{
        opacity: 1;
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
        left: 0;
        content: '';
        background-color: $accent-color;
      }
    }
    &.tab-link_red:hover{
      border: none;
    }
  }
}