.news {
  background: white;
  margin-bottom: 30px;
  @media screen and (min-width: 961px){
    background: none;
    margin-bottom: 0;
  }
  &__block{
    width: 100%;
    padding: 18px 15px;
    box-sizing: border-box;
    @media screen and (min-width: 961px){
      padding: 60px 0 90px 0;
    }
  }
  &__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: baseline;
    margin-bottom: 17px;
    @media screen and (min-width: 961px){
      padding: 0;
      margin-bottom: 32px;
    }
  }
  &__content{
    min-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: -4.5px;
    margin-left: -4.5px;
    @media screen and (min-width: 961px){
      overflow: visible;
      margin-right: -10px;
      margin-left: -10px;
      margin-top: -20px;
    }
  }
  &__wrapper{
    min-width: 100%;
    display: flex;
    //margin-left: -4.5px;
    //margin-right: -4.5px;
    @media screen and (min-width: 961px){
      flex-wrap: wrap;
      //margin-top: -20px;
      //margin-left: -10px;
      //margin-right: -10px;
      padding: 0;
    }

  }
  &__item{
    position: relative;
    box-sizing: border-box;
    padding: 18px;
    min-width: 286px;
    margin-left: 4.5px;
    margin-right: 4.5px;
    background: #F6F7F8;
    height: 225px;
    @media screen and (min-width: 961px){
      min-width: unset;
      flex-basis: calc(100% / 4 - 20px);
      box-shadow: 0px 5px 10px rgba(8, 18, 36, 0.05);
      background: white;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 20px;
      transition: background-color .3s;
      height: 200px;
      &:hover{
        background: #F1F1F1;
        .news__item-date{
          color: $main-color;
        }
      }
    }
    ul{
      padding: 0px 18px;
      margin-bottom: 0;
      li{
        list-style: none;
        color: white;
        background-color: #E84E2C;
        box-sizing: border-box;
        padding: 5px;
        margin-bottom: 3px;
        display: inline-block;
      }
    }
    p{
      color:rgba($main-color-dark,.85);
      line-height: 140%;
      margin-bottom: 28px;
    }
    h3{
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
      color: $main-color-dark;
      margin-bottom: 5px;
    }
    &-date{
      color: rgba($main-color,.6);
      font-size: 14px;
      position: absolute;
      left: 18px;
      bottom: 18px;
      transition: color .25s;
    }
  }
}