.news {
  background: white;
  margin-bottom: 30px;
  @media screen and (min-width: 961px){
    background: none;
    margin-bottom: 0;
  }
  &__block{
    width: 100%;
    padding: 18px 15px;
    box-sizing: border-box;
    @media screen and (min-width: 961px){
      padding: 60px 0 90px 0;
    }
  }
  &__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 17px;
    @media screen and (min-width: 961px){
      padding: 0;
    }
  }
  &__content{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    @media screen and (min-width: 961px){
      overflow: visible;

    }
  }
  &__wrapper{
    width: 100%;
    display: flex;
    @media screen and (min-width: 961px){
      flex-wrap: wrap;
      margin-top: -20px;
      padding: 0;
    }

  }
  &__item{
    position: relative;
    box-sizing: border-box;
    padding: 18px;
    min-width: 286px;
    margin-right: 9px;
    background: #F6F7F8;
    @media screen and (min-width: 961px){
      min-width: unset;
      flex-basis: calc(100% / 4 - 20px);
      box-shadow: 0px 5px 10px rgba(8, 18, 36, 0.05);
      background: white;
      margin-right: 20px;
      margin-top: 20px;
      flex-grow: 1;
      transition: background-color .3s;
      &:nth-child(4n){
        margin-right: 0;
      }
      &:hover{
        background: #F1F1F1;
        .news__item-date{
          color: $main-color;
        }
      }
    }
    &:last-child{
      margin-right: 0;
    }
    p{
      color:rgba($main-color-dark,.85);
      line-height: 140%;
      margin-bottom: 28px;
    }
    &-date{
      color: rgba($main-color,.6);
      font-size: 14px;
      position: absolute;
      left: 18px;
      bottom: 18px;
      transition: color .25s;
    }
  }
}