.price {
  background: white;
  margin-bottom: 30px;
  @media screen and (min-width: 961px) {
    margin-bottom: 0;
    padding: {
      top: 60px;
      bottom: 60px;
    };
  }

  &__block {
    padding: 18px 15px;
    @media screen and (min-width: 577px) {
      padding:0;
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 36px;
      }
    }
  }

  &__list {
  overflow: hidden;
    &_wrapper {
      min-width: 610px;
      border: 1px solid rgba($main-color, .15);
      padding: 0 8px;
      @media screen and (min-width: 769px){
        padding: 0 16px;
      }
      @media screen and (min-width: 961px){
        padding: 0 24px;
      }
      @media screen and (min-width: 1400px){
        padding: 0 36px;
      }
    }

    &_item {
      background: white;
      display: flex;
      width: 100%;
      padding: 11px 0;
      justify-content: space-between;
      border: {
        top: 1px solid rgba($main-color, .15);
        bottom: 1px solid rgba($main-color, .15);
      }
      &:first-child{
        border-top: none;
      }
      &:last-child{
        border-bottom: none;
      }
      button {
        max-width: 115px;
        @media screen and (min-width: 961px){
          max-width: 234px;
          padding: 15px 0;
        }
      }
    }
  }

  &__text, &__pricing {
    display: flex;
    align-items: center;
    font-size: 14px;
    @media screen and (min-width: 961px){
      font-size: 16px;
    }
    @media screen and (min-width: 961px){
      font-size: 18px;
    }

  }

  &__text {
    flex-basis: 50%;
    line-height: 120%;
    color: #2A4472;
  }

  &__pricing {
    &_del {
      color: #858C98;
      position: relative;
      margin-left: 23px;
      margin-right: 30px;

      &::before {
        position: absolute;
        width: 100%;
        height: 2px;
        content: '';
        display: block;
        background-color: $accent-color;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
      }
    }
  }

}