.props{
  background: white;
  margin-bottom: 30px;
  @media screen and (min-width: 961px){
    margin-bottom: 0;
    background: white url("../../img/props/bg-fig.svg");
    background-position: 100% 151px;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }
  &__block{
    padding: 18px 15px;
    @media screen and (min-width: 961px) {
      padding-top: 153px;
      padding-bottom: 60px;
    }
  }
  &__head{
    margin-bottom: 18px;
    @media screen and (min-width: 961px){
      margin-bottom: 48px;
    }
  }
  &__content{
    .content-row{
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      @media screen and (min-width: 961px){
        margin: 0 -10px;
      }
    }
  }
  &__column{
    flex-basis: 100%;
    box-sizing: border-box;
    color: $main-color-dark;

    &:last-child{
      margin-bottom: -43px;
    }
    @media screen and (min-width: 961px){
      flex-basis: 50%;
      padding: 0 10px;
      &:last-child{
        margin-bottom: auto;
      }
    }
    >h3{
      margin-bottom: 12px;
      font-weight: bold;
      font-size: 16px;
      line-height: 140%;
    }
    >p{
      margin-bottom: 43px;
      font-size: 16px;
      line-height: 140%;
      @media screen and (min-width: 961px){
        &:last-child{
          margin-bottom: 0;
        }
      }
    }

  }
}