.science-articles {
  background: white;
  margin-bottom: 30px;
  @media screen and (min-width: 961px) {
    background: none;
    margin: 0;
  }

  &__block {
    flex-grow: 1;
    max-width: 100%;
    padding: 18px 15px;
    @media screen and (min-width: 961px) {
      padding: 60px 0;
      padding-bottom: 90px;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    @media screen and (min-width: 961px){
      margin-bottom: 36px;
    }
  }

  &__content {
    margin-bottom: -18px;
    @media screen and (min-width: 961px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      margin-top: -20px;
    }

    &_item {
      background: #F6F7F8;
      box-sizing: border-box;
      position: relative;
      z-index: 12;
      padding: 12px 8px;
      margin-bottom: 18px;
      display: flex;
      flex-direction: column;
      transition: background-color .35s;
      @media screen and (min-width: 961px) {
        flex-basis: calc(100% / 2 - 20px);
        margin: 0 10px;
        margin-top: 20px;
        padding: 20px 37px;
      }

      &:hover{
        background-color: white;
        .science-articles__content_item_text{
          &::before{
            background: linear-gradient(0deg, white, rgba(white, .0));
          }
        }
      }

      &_text {
        flex-grow: 1;
        max-height: 85px;
        overflow: hidden;
        font-size: 16px;
        line-height: 140%;
        position: relative;
        color: rgba(black, .7);
        margin-bottom: 12px;
        cursor: pointer;
        transition: all .5s;
        outline: none;

        &::before {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          content: '';
          background: linear-gradient(0deg, #F6F7F8, rgba(white, .0));
          transition: background-color .35s;
          z-index: 10;
          width: 100%;
          height: 100%;

        }

        &_unhide {
          outline: none;
          overflow: visible;
          height: auto;
          max-height: none;

          &::before {
            display: none;
          }
        }
      }

      &_authors {
        display: flex;
        flex-direction: column;
      }

      &_author {
        font-size: 14px;
        line-height: 120%;
        color: rgba($main-color, .6);
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 961px){
      display: block;
    }
    a {
      display: inline-block;
      padding-top: 25px;
      &:hover{
        img{
          filter: hue-rotate(-182deg) saturate(7.5);;
        }
      }
    }
  }
}