.science-articles{
  background: white;
  margin-bottom: 30px;
  @media screen and (min-width: 961px){
    background: none;
    margin: 0;
  }
  &__block{
    flex-grow: 1;
    max-width: 100%;
    padding: 18px 15px;
    @media screen and (min-width: 961px){
      padding: 60px 0;
    }
  }
  &__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    a{
      color: $main-color;
      text-decoration: none;
    }
  }
  &__content{
    @media screen and (min-width: 961px){
      display: flex;
    }
    &_item{
      background: #F6F7F8;
      padding: 12px 8px;
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        flex-basis: calc(100% / 2);
        margin-bottom: 0;
        margin-right: 20px;
      }
      &:last-child{
        margin: 0;
      }
      &_text{
        max-height: 85px;
        overflow: hidden;
        font-size: 16px;
        line-height: 140%;
        position: relative;
        color: rgba(black, .7);
        margin-bottom: 12px;
        cursor: pointer;
        transition: all .5s;
        outline: none;

        &::before {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          content: '';
          background: linear-gradient(0deg, #F6F7F8, transparent);
          z-index: 10;
          width: 100%;
          height: 100%;

        }

        &_unhide {
          outline: none;
          overflow: visible;
          max-height: none;

          &::before {
            display: none;
          }
        }
      }
      &_authors{
        display: flex;
        flex-direction: column;
      }
      &_author{
        font-size: 14px;
        line-height: 120%;
        color: $main-color;
        margin-bottom: 5px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  &__footer{
    display: none;
    @media screen and (min-width: 961px){
      display: block;
      a{
        color: $main-color;
        display: inline-block;
        padding: 25px 0;
      }
    }
  }
}