.service-header{
  margin-bottom: 30px;
  background-color: white;
  @media screen and (min-width: 961px){
    margin-bottom: 0;
  }
  &__block{
    padding: 18px 15px;
    padding-top: 60px;
    @media screen and (min-width: 961px){
      padding: 60px 0;
      padding-top: 90px;
    }
    .title{
      @media screen and (min-width: 961px){
        font-size: 36px;
      }
    }
  }
}