.services{
  @media screen and (max-width: 960px) {
    margin-bottom: 30px;
    .row {
      margin-bottom: 30px;
    }
    .container {
      padding: 0;
    }
  }
  @media screen and (min-width: 961px) {
    position: relative;
    background: white url("../../img/services/bg-rect.svg") top right no-repeat;
    background-size: auto 100%;
  }


  &__block {
    width: 100%;
    background: white;
    padding-top: 18px;
    @media screen and (min-width: 961px){
      padding: 60px 0;
      background: none;
    }
    .title{
      margin-bottom: 18px;
      padding: 0 15px;
      @media screen and (min-width: 961px){
        margin-bottom: 42px;
        padding: 0;

      }
    }
  }

  &__content {
    background-color: white;
    padding: 15px;
    @media screen and (min-width: 961px) {
      //padding: 40px 15px;
      padding: 0;
      background: none;
    }
    @media screen and (min-width: 1400px) {
      padding: 0;
    }


    &-image {
      display: none;
      @media screen and (min-width: 961px) {
        width: calc(100% - 20px);
        max-width: 325px;
        min-height: 230px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: inline-block;
        height: calc(100% - 77px);
        margin-bottom: 27px;

        &::after {
          position: absolute;
          left: 0;
          top: 0;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          z-index: 9;
          background: linear-gradient(179.96deg, rgba(42, 68, 114, 0) 18.76%, rgba(42, 68, 114, 0.55) 49.37%);
        }

        p {
          position: absolute;
          left: 0;
          bottom: 0;
          color: white;
          padding: 40px 25px;
          font-size: 14px;
          margin: 0;
          z-index: 10;
          @media screen and (min-width: 1400px) {
            font-size: 18px;
          }
        }
      }
    }

    &-services {
      display: none;
      .column-one{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        flex-basis: 100%;
        @media screen and (min-width: 961px){
          flex-basis: calc(100% / 4);
          order: -1;
        }
        a{
          @media screen and (min-width: 961px){
            width: calc(100% - 20px);
          }
        }
      }

      &_active {
        width: 100%;
        height: auto;
        display: block;
        @media screen and (min-width: 577px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        @media screen and (min-width: 961px) {
          justify-content: stretch;
        }
      }
    }
  }

  &__column {
    box-sizing: border-box;
    @media screen and (max-width: 960px) {
      margin-bottom: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 577px) {
      padding-right: 10px;
      flex-basis: calc(100% / 4);
    }
    @media screen and (min-width: 769px) {
      flex-basis: calc(100% / 3);
    }
    @media screen and (min-width: 961px) {
      flex-basis: calc(100% / 4);
      max-width: 325px;
    }
    @media screen and (min-width: 1400px) {
      flex-basis: calc(100% / 4);
    }

    ul:last-child {
      li:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin: 0;
      display: block;
      padding: 0;
      list-style: none;

      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }

    }
  }

  &__list-item {
    display: flex;
    margin-bottom: 29px;
    padding-left: 30px;
    position: relative;
    @media screen and (max-width: 960px) {
      margin-bottom: 18px;
    }

    .main-letter {
      position: absolute;
      left: 0;
      color: $accent-color;
      font-weight: bold;
    }
  }

  &__item-link {
    color: $main-color;

    &:hover {
      color: $accent-color
    }
  }
}