.simple{
  background: white;
  margin-bottom: 30px;
  position: relative;
  @media screen and (min-width: 961px){
    margin-bottom: 0;
    background: url("../../img/all-articles/bg-top-left.svg") top left no-repeat, url("../../img/all-articles/bg-right-bottom.svg") right bottom no-repeat, white;
    &::before{
      position: absolute;
      display: block;
      content: '';
      width: 176px;
      height: 92px;
      background-color: rgba($accent-color,.3);
      top: 245px;
      left: -15px;
      -webkit-transform: skewX(-17deg);
      -ms-transform: skewX(-17deg);
      transform: skewX(-17deg);
      z-index: 10;
    }
  }
  .infoblock__block{
    @media screen and (min-width: 961px){
      padding: 66px 0;
    }
  }
  .infoblock__item_content{
    *{
      &:last-child{
        margin-bottom: 0;
      }
    }
    h1{
      font-weight: bold;
      font-size: 20px;
      line-height: 120%;
      color: $main-color-dark;
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 32px;
      }
    }
    time, .authors{
      margin-bottom: 12px;
      font-weight: bold;
      font-size: 16px;
      line-height: 120%;
      @media screen and (min-width: 961px){
        margin-top: 4px;
        margin-bottom: 18px;
        font-size: 18px;
      }
    }
    .authors{
      a{
        display: block;
        color: $main-color-dark;
        &:hover{
          color: $main-color;
          text-decoration: underline;
        }
        &:active{
          color: $main-color-light;
        }
      }
    }
    p{
      margin-bottom: 12px;
      @media screen and (min-width: 961px){
        margin-bottom: 24px;
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  .infoblock__row{
    margin-bottom: 12px;
    @media screen and (min-width: 961px){
      margin-bottom: 24px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}