.social-media{
  margin-bottom: 30px;
  @media screen and (min-width: 961px){
    margin-bottom: 0;
  }
  &__block{
    background: white;
    width: 100%;
    padding: 0 15px;
    padding-top: 18px;
    @media screen and (min-width: 961px){
      padding: 0;
      padding-top: 60px;
      padding-bottom: (60px - 18px);
      background: none;
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 36px;
      }
    }
  }
  &__content{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    //margin-bottom: 18px;
    &:last-child{
      margin-bottom: 0;
    }
    @media screen and (min-width: 577px){
      margin: 0 -5px;
    }
    @media screen and (min-width: 961px){
      margin: 0 -10px;
    }

  }
  &__item{
    flex-basis: 100%;
    margin-bottom: 18px;
    flex-grow: 1;
    @media screen and (min-width: 577px){
      flex-basis: calc(100% / 2 - 10px);
      padding: 0 5px;
    }
    @media screen and (min-width: 769px){
      flex-basis: calc(100% / 4 - 10px);
    }
    @media screen and (min-width: 961px){
      flex-basis: calc(100% / 4 - 20px);
      padding: 0 10px;
      max-width: 365px;
      height: 165px;
    }

  }
}