.specialists-details {
  margin-bottom: 30px;
  .container{
    padding: 0;
  }
  @media screen and (min-width: 961px) {
    background-color: $bg-gray;
    position: relative;
    margin-bottom: auto;
    .container{
      padding: 0 15px;
    }
  }

  &__block {
    background: white;
    width: 100%;
    position: relative;
    z-index: 2;
    @media screen and (min-width: 961px) {
      box-shadow: 0 10px 30px rgba(12, 28, 56, 0.08);
      left: 0;
      top: -30px;
    }
  }

  &__head {
    width: 100%;

    @media screen and (max-width: 960px) {
      margin-bottom: 3px;
      background: white;
      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          padding-left: 18px;
        }
      }
      .mobile {
        display: block;
        padding-left: 26px;
        padding-right: 26px;
        box-sizing: border-box;
      }
    }
    @media screen and (min-width: 961px) {
      background-color: $bg-gray;
      padding: 40px 0;
      .mobile {
        display: none;
      }

    }
  }
  &__slider{
    margin-bottom: 18px;
    @media screen and (min-width: 961px){
      margin-bottom: 36px;
    }
    .slick-list {
      display: flex;

      .slick-track {
        display: flex;
      }
    }
    .doctor-card__doctor{
      min-width: unset;
    }
    .doctor-card__doctor_content{
      a{
        display: none;
        @media screen and (min-width: 769px){
          display: block;
        }
      }
    }
  }

  &__content {
    padding-top: 2px;
    background-color: white;
    @media screen and (max-width: 960px) {
      padding: 0 15px;
      .specialists-details__control-panel {
        padding-top: 0;
        background: white;
        .arrows {
          display: none;
        }
      }
    }
    @media screen and (min-width: 960px){
      .content{
        padding: 0 15px;
      }
      padding: 40px 0;
    }
    @media screen and (min-width: 1400px) {
      .content{
        padding: 0;
      }
    }

  }

  &__control-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media screen and (max-width: 960px) {
      padding: 18px 0;
      background-color: #F6F7F8;
    }

    a {
      width: 443px;
    }
  }
}