.specialists {
  margin-bottom: 30px;
  .container{
    padding: 0;
  }
  @media screen and (min-width: 961px) {
    background-color: $bg-gray;
    position: relative;
    margin-bottom: auto;
    .container{
      padding: 0 15px;
    }
  }

  &__block {
    width: 100%;
    position: relative;
    z-index: 2;
    background: white;
    @media screen and (min-width: 961px) {
      box-shadow: 0 10px 30px rgba(12, 28, 56, 0.08);
      left: 0;
      top: -30px;
    }
  }

  &__head {
    width: 100%;
    margin-bottom: 3px;

    @media screen and (max-width: 960px) {
      background: white;
      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          padding-left: 18px;
        }
      }
      .mobile {
        display: block;
        padding-left: 26px;
        padding-right: 26px;
        box-sizing: border-box;
      }
    }
    @media screen and (min-width: 961px) {
      background-color: $bg-gray;
      padding: 40px 0;
      .mobile {
        display: none;
      }

    }

  }

  &__content {
    background-color: white;
    @media screen and (max-width: 960px) {
      padding: 0 15px;
      .specialists__control-panel {
        padding-top: 0;
        background: white;

        .arrows {
          display: none;
        }
      }
    }
    @media screen and (min-width: 960px){
      .content{
        padding: 0 15px;
      }
      padding: 40px 0;
      padding-top: 20px;
    }
    @media screen and (min-width: 1400px) {
      .content{
        padding: 0;
      }
    }

  }

  &__doctor {
    overflow: hidden;
    background-color: #fcfcfc;
    padding: 12px;
    height: auto;
    position: relative;
    box-sizing: border-box;
    @media screen and (min-width: 577px){
      margin: 0 10px;
      flex-basis: calc(100% / 2 - 20px);
    }
    @media screen and (min-width: 769px){
      margin: 0 10px;
      flex-basis: calc(100% / 3 - 20px);
    }
    @media screen and (min-width: 1400px){
      margin: 0 10px;
      flex-basis: calc(100% / 4 - 20px);
    }

    &:last-child {
      margin-right: 0;
    }
    &:hover{
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      transition: box-shadow .25s .4s;
    }
    .doctor {
      &__image {
        width: 100%;
        min-height: 300px;
        max-height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 22px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and (max-width: 576px) {
          width: 100%;
        }

        img {
          max-width: 100%;
        }
      }

      &__info {
        box-shadow: none;
        display: block;
        color: $main-color;
        position: relative;
        font-size: 14px;
        height: 100%;
        //background-image: url("../../img/doctor-card/bg-invisible-icon.svg");
        //background-repeat: no-repeat;
        //background-position: calc(100% - 10px) calc(100% - 7px);

        .doctor__name {
          font-size: 18px;
          color: $main-color-dark;
          margin-bottom: 22px;
          margin-top: 0;
          line-height: 120%;

          span {
            font-weight: normal;
          }
        }

        .doctor__work {
          margin: 0;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 17px;
        }

        .doctor__features {
          margin: 0;
          padding: 0;
          list-style: none;
          line-height: 150%;

          li::before {
            content: "-";
            margin-right: 5px;
          }
        }
      }

      &__info:hover {
        cursor: pointer;
        .doctor__full-info {
          top: -12px;
          opacity: 1;

          transition: opacity .1s, top .5s;
        }
      }

      &__full-info {
        opacity: 0;

        height: 100%;
        width: 100%;
        //background-color: rgba(white, .95);
        background-color: #fcfcfc;
        position: absolute;
        left: -12px;
        top: 312px;
        padding: 12px;
        transition: opacity .1s .4s, top .5s;
        font-size: 14px;

        .doctor__features {
          margin-bottom: 20px;
        }

        a {
          display: block;
          width: calc(100% - 30px);
          text-align: center;
          color: $main-color;
          border: 1px solid $main-color;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 15px;
          transition: background-color .5s, color .5s;

          &:hover {
            color: white;
            background-color: $main-color;
          }
        }
      }

      &__exp {
        color: $main-color-dark;
        margin: 0;
        margin-bottom: 26px;

      }

      &__desc {
        line-height: 120%;
        margin-bottom: 24px;
      }
    }
  }

  &__slider {
    margin-bottom: 18px;
    flex-wrap: wrap;

    .slick-list {
      display: flex;

      .slick-track {
        display: flex;
      }
    }

    @media screen and (min-width: 961px) {
      .slick-track {
        padding: 20px 0;
      }
    }
    @media screen and (min-width: 1500px) {
      margin-bottom: 15px;
      width: calc(100% + 30px);
      transform: translateX(-30px);
      .slick-list {
        padding: 0 20px;

      }
    }
  }

  &__control-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @media screen and (max-width: 960px) {
      padding: 18px 0;
      background-color: #F6F7F8;
    }

    a {
      width: 443px;
    }
  }
}