.staff {
  background-color: $bg-gray;
  position: relative;

  .container {
    padding: 0;
  }

  @media screen and (min-width: 1400px) {
    overflow: hidden;
    &::before {
      position: absolute;
      display: inline-block;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 300px;
      background-image: url("../../img/about/about-bg.png");
      background-position: top left;
      background-repeat: no-repeat;
      z-index: 1;
    }
    .container {
      z-index: 2;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    //width: 100%;
    margin-right: 0;
    padding: 0 15px;
    @media screen and (min-width: 577px){
      flex-wrap: nowrap;
      background: url("../../img/about/bg-h-figure.svg") bottom right no-repeat;
      background-size: auto 100%;
    }
    @media screen and (min-width: 961px) {
      width: 100%;
    }
    @media screen and (min-width: 1400px) {
      background: url("../../img/about/bg-h-figure.svg") top right no-repeat;
      width: 100%;
      display: none;
      &_active {
        display: flex !important;
        animation-name: slideIn;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
      }

      &_deactivate {
        display: flex;
        animation-name: slideOut;
        animation-duration: 1000ms;
      }
    }
    .current-page{
      position: absolute;
      z-index: 10;
      @media screen and (min-width: 961px){
        font-size: 14px;
        top: 10px;
        left: 15px;
      }
      @media screen and (min-width: 1400px){
        font-size: 18px;
        top: 15px;
        left: 15px;

      }
    }
  }

  &__info {
    position: relative;
    padding: 18px 15px;
    background: white;
    width: 100%;
    @media screen and (min-width: 577px){
      flex-basis: calc(100vw / 2 - 50px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: transparent;
    }
    @media screen and (min-width: 1400px) {
      display: block;
      background: transparent;
      padding: 90px 0;
      max-width: 666px;
      &::before {
        position: absolute;
        display: block;
        content: '';
        width: 176px;
        height: 92px;
        background-color: rgba($accent-color, .2);
        top: 245px;
        left: -310px;
        transform: skewX(-20deg);
      }
    }

    &_details{
      &_text{
        color: $main-color;
        margin: 0;
        margin-bottom: 8px;
        max-width: 325px;
        &:first-child{
          padding-top: 18px;
          border-width: calc(100% - 50px);
          border-top: 1px solid rgba($main-color, .3);
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    button {
      padding: 15px 0;
      width: 100%;
      max-width: none;
      @media screen and (min-width: 577px){
        max-width: 325px;
      }
      @media screen and (min-width: 1400px) {
        margin-bottom: 55px;

      }
    }

  }

  &__doctor-name {
    font-weight: bold;
    color: $main-color-dark;
    margin: 0;
    margin-bottom: 18px;
    @media screen and (min-width: 1400px) {
      line-height: 48px;
      margin-bottom: 24px;
      font-size: 36px;
    }
  }

  &__title {
    color: $main-color;
    margin: 0;
    margin-bottom: 6px;
    font-size: 16px;
    @media screen and (min-width: 1400px) {
      font-size: 20px;
      margin-bottom: 12px;
    }
  }

  &__desc {
    color: $main-color-dark;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 18px;
    @media screen and (min-width: 1400px) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  &__doctor {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 231px;
    background: url("../../img/about/bg-h-figure.svg") bottom no-repeat;
    background-size: auto 100%;
    padding-top: 20px;
    background-clip: border-box;
    order: -1;
    @media screen and (min-width: 577px){
      order: initial;
      flex-basis: calc(100vw / 2);
      height: auto;
      background: none;
      padding-top: 0;
    }
    &_details{
      background: $main-color;
      position: absolute;
      padding: 7px 20px;
      box-sizing: border-box;
      text-align: center;
      color: white;
      font-size: 12px;
      max-width: 345px;
      right: 10px;
      transform:skewX(-15deg);
      @media screen and (min-width: 769px){
        font-size: 14px;
      }
      @media screen and (min-width: 961px){
        font-size: 16px;
        right: 15px;
      }
      @media screen and (min-width: 1400px){
        width: auto;
        max-width: 405px;
        right: 20px;
        bottom: 45px;
        padding: 33px 45px;
      }


      &_text{
        margin: 0;
        transform: skewX(15deg);
      }
    }


    img {
      height: auto;
      width: auto;
      max-width: 100%;
      max-height: 100%;
      @media screen and (min-width: 1400px) {
        position: absolute;
        bottom: 0;
        right: 0;
        height: auto;
        width: auto;
        filter: drop-shadow(0 0 5px rgba(black, .1));
      }
    }
  }
}