.staff {
  background-color: $bg-gray;
  position: relative;
  margin-bottom: 30px;

  .container {
    padding: 0;
  }

  @media screen and (min-width: 1400px) {
    overflow: hidden;
    &::before {
      position: absolute;
      display: inline-block;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 300px;
      background-image: url("../../img/about/about-bg.png");
      background-position: top left;
      background-repeat: no-repeat;
      z-index: 1;
    }
    .container {
      z-index: 2;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    //width: 100%;
    margin-right: 0;
    @media screen and (min-width: 577px){
      flex-wrap: nowrap;
      background: url("../../img/about/bg-h-figure.svg") bottom right no-repeat;
      background-size: auto 100%;
    }
    @media screen and (min-width: 961px) {
      width: 100%;
    }
    @media screen and (min-width: 1400px) {
      background: url("../../img/about/bg-h-figure.svg") top right no-repeat;
      width: 100%;
      display: none;
      &_active {
        display: flex !important;
        animation-name: slideIn;
        animation-duration: 1000ms;
        animation-fill-mode: forwards;
      }

      &_deactivate {
        display: flex;
        animation-name: slideOut;
        animation-duration: 1000ms;
      }
    }
  }

  &__info {
    position: relative;
    padding: 18px 15px;
    background: white;
    width: 100%;
    @media screen and (min-width: 577px){
      flex-basis: calc(100vw / 2 - 50px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: transparent;
    }
    @media screen and (min-width: 1400px) {
      display: block;
      background: transparent;
      padding: 90px 0;
      max-width: 666px;
      &::before {
        position: absolute;
        display: block;
        content: '';
        width: 176px;
        height: 92px;
        background-color: rgba($accent-color, .2);
        top: 245px;
        left: -310px;
        transform: skewX(-20deg);
      }
    }

    button {
      padding: 15px 0;
      width: 100%;
      max-width: none;
      @media screen and (min-width: 577px){
        max-width: 325px;
      }
      @media screen and (min-width: 1400px) {
        margin-bottom: 55px;

      }
    }

  }

  &__doctor-name {
    font-weight: bold;
    color: $main-color-dark;
    margin: 0;
    margin-bottom: 18px;
    @media screen and (min-width: 1400px) {
      line-height: 48px;
      margin-bottom: 35px;
    }
  }

  &__title {
    color: $main-color-dark;
    margin: 0;
    margin-bottom: 6px;
    font-size: 16px;
    @media screen and (min-width: 1400px) {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }

  &__desc {
    color: $main-color-dark;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 18px;
    @media screen and (min-width: 1400px) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }

  }

  .select-buttons {
    display: none;
    @media screen and (min-width: 961px) {
      display: inline-block;
      position: absolute;
      bottom: 0px;
      float: none;
      height: auto;
      min-height: auto;
      padding-left: 15px;
      margin-right: 0;
      z-index: 100;
    }
    @media screen and (min-width: 1400px){
      bottom: 88px;
      padding-left: 0;
    }

    &__button {
      @media screen and (min-width: 961px) {
        display: inline-block;
        height: 18px;
        width: 18px;
        margin-right: 20px;
        background-color: rgba($main-color, .4);
        transition: background-color .5s;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
          background-color: $main-color
        }
      }
    }
  }

  &__doctor {
    flex-grow: 1;
    position: relative;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 231px;
    background: url("../../img/about/bg-h-figure.svg") bottom no-repeat;
    background-size: auto 100%;
    padding-top: 20px;
    background-clip: border-box;
    order: -1;
    @media screen and (min-width: 577px){
      order: initial;
      flex-basis: calc(100vw / 2);
      height: auto;
      background: none;
      padding-top: 0;
    }


    img {
      height: auto;
      width: auto;
      max-width: 100%;
      max-height: 100%;
      @media screen and (min-width: 1400px) {
        position: absolute;
        bottom: 0;
        right: 0;
        height: auto;
        width: auto;
      }
    }
  }
}