.staff {
  padding-top: 18px;
  margin-bottom: 30px;
  @media screen and (min-width: 961px){
    background-color: white;
  }

  .container {
    padding: 0;
  }

  &__block {
    flex-grow: 1;
    width: 100%;
    @media screen and (min-width: 961px){
      margin-top: 48px;
      box-shadow: 0px 10px 30px rgba(12, 28, 56, 0.08);
    }
  }

  &__head {
    padding: 0 15px;
    @media screen and (min-width: 961px){
      background-color: $bg-gray;
      padding: 48px 15px 0 15px;
    }

    .title {
      margin-bottom: 18px;
    }
  }

  &__tabs {
    display: flex;

    &_item {
      font-weight: bold;
      padding: 10px 15px;
      margin-right: 16px;
      background: #F6F7F8;
      color: $main-color;
      transition: color .5s, background .5s;
      cursor: pointer;
      font-size: 14px;
      text-align: center;
      @media screen and (min-width: 961px){
        font-size: 16px;
        padding: 10px;
        flex-basis: calc(100% / 4);
      }

      &:hover {
        background: $main-color-light;
        color: white;
      }

      &:last-child {
        margin-right: 0;
      }


      &_active {
        background: $main-color;
        color: white;
      }
    }
  }

  &__content {
    background: white;
    padding: 20px 15px;
    &-top{
      @media screen and (min-width: 961px){
        display: flex;
        padding-top: 30px;
      }
      @media screen and (min-width: 1180px){
        margin-bottom: 48px;
      }
    }
    &_tab{
      display: none;
      &_active{
        display: block;
      }
    }
  }

  &__info{
    padding: 8px;
    border: 1px solid $accent-color;
    @media screen  and (min-width: 961px) {
      display: flex;
      align-items: center;
    }
    &_icon{
      margin-bottom: 5px;
      width: 16px;
      height: 16px;
      @media screen  and (min-width: 961px) {
        min-width: 40px;
        min-height: 40px;
        margin-bottom: 0;
        margin-right: 20px;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
    &_text{
      margin: 0;
      font-size: 14px;
      @media screen and (min-width: 961px){
        font-size: 16px;
      }
    }
  }

  &__search-form-wrapper {
    margin-bottom: 20px;
    @media screen and (min-width: 961px) {
      display: block;
      flex-basis: 50%;
      padding: 0;
      margin-right: 25px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1145px) {
      display: block;
      padding: 0;
      flex-grow: 1;
    }
  }

  &__search-form {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    position: relative;
    background: #FCFCFC;
    border: 1px solid #D9DEE7;

    &_focus {
      background-color: white;

      .stuff__search-form-field {
        background-color: white;
        color: $main-color;
      }

      .stuff__search-form-button {
        filter: sepia(10) saturate(52.5) hue-rotate(179deg) saturate(76.5) contrast(64.5) grayscale(0.35) hue-rotate(335deg);
      }
    }

    &-button {
      position: absolute;
      top: 14px;
      right: 12px;
      width: 12px;
      height: 12px;
      padding: 0;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      z-index: 3;
      filter: invert(1);
    }

    &-field {
      outline: none;

      color: $main-color;
      font-size: 14px;
      position: absolute;
      top: 12px;
      left: 12px;
      background: none;
      padding: 0;
      border: none;
      z-index: 3;
      width: calc(100% - 50px);

      &::placeholder {
          color: gray;
      }
    }
  }

  &__filters  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    @media screen and (min-width: 961px) {
      flex-basis: 50%;
      margin-bottom: 0;
      align-items: center;
    }

    &_item {
      font-size: 14px;
      border-bottom: 1px dashed $main-color;
      margin-right: 20px;
      color: $main-color;
      line-height: 120%;
      padding-bottom: 6px;
      margin-bottom: 12px;
      cursor: pointer;
      @media screen and (min-width: 961px) {
        margin-right: 20px;
        line-height: unset;
        padding-bottom: 0;
        font-size: 16px;
        &:last-child{
          margin-right: 0;
        }
      }
      @media screen and (min-width: 1180px){
        margin-right: 0;
        margin-bottom: 0;
      }
      &_active{
        border-bottom: none;
        color:white;
        background-color: $main-color;
        padding: 5px;
      }
      &_cancel{
        margin-left: 5px;
      }
    }
  }

  &__ordinary {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    .specialists__slider {
      margin-bottom: 0;
    }

    .title {
      margin-bottom: 18px;
    }
  }
}