.staff {
  margin-bottom: 30px;
  @media screen and (min-width: 961px) {
    background-color: white;
  }

  .container {
    padding: 0;
  }

  &__block {
    flex-grow: 1;
    width: 100%;
    margin-top: 18px;
    @media screen and (min-width: 961px) {
      margin-top: 48px;
      box-shadow: 0px 10px 30px rgba(12, 28, 56, 0.08);
    }
  }

  &__head {
    padding: 0 15px;
    @media screen and (min-width: 961px) {
      background-color: $bg-gray;
      padding: 48px 15px 0 15px;
    }

    .title {
      margin-bottom: 18px;
      @media screen and (min-width: 961px) {
        margin-bottom: 36px;
      }
    }
  }

  &__tabs {
    display: flex;

    &_item {
      font-weight: bold;
      padding: 10px 15px;
      margin-right: 16px;
      background: #F6F7F8;
      color: $main-color;
      transition: color .5s, background .5s;
      cursor: pointer;
      font-size: 14px;
      text-align: center;
      @media screen and (min-width: 961px) {
        font-size: 16px;
        padding: 15px;
        flex-basis: calc((50% - 85px) / 2);
      }

      &:hover {
        background: $main-color-light;
        color: white;
      }

      &:last-child {
        margin-right: 0;
      }


      &_active {
        background: $main-color;
        color: white;
      }
    }
  }

  &__content {
    background: white;
    padding: 20px 15px;
    @media screen and (min-width: 961px) {
      padding: 0 15px;
    }

    &-top {
      position: relative;
      @media screen and (min-width: 961px) {
        padding-top: 30px;
      }
      @media screen and (min-width: 1025px) {
        display: flex;
        margin-bottom: 48px;
        align-items: center;
      }
    }

    &-bottom {
      .title {
        margin-bottom: 18px;
      }
    }

    &_tab {
      display: none;

      &_active {
        display: block;
      }
    }

    &:last-child {
      .staff__content-top {
        @media screen and (min-width: 1180px) {
          padding-top: 18px;
          margin-bottom: 18px;
        }
      }
    }
  }

  &__info {
    padding: 8px;
    border: 1px solid $accent-color;
    @media screen and (min-width: 961px) {
      display: flex;
      align-items: center;
      padding: 20px 18px;
    }

    &_icon {
      margin-bottom: 5px;
      width: 16px;
      height: 16px;
      @media screen and (min-width: 961px) {
        min-width: 40px;
        min-height: 40px;
        margin-bottom: 0;
        margin-right: 20px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &_text {
      margin: 0;
      font-size: 14px;
      @media screen and (min-width: 961px) {
        font-size: 16px;
      }
    }
  }

  &__search-form-wrapper {
    margin-bottom: 20px;
    @media screen and (min-width: 1025px) {
      display: block;
      flex-basis: 50%;
      padding: 0;
      margin-right: 25px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1145px) {
      display: block;
      padding: 0;
      flex-grow: 1;
    }
  }

  &__search-form {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    position: relative;
    background: #FCFCFC;
    border: 1px solid #D9DEE7;

    &_focus {
      background-color: white;

      .stuff__search-form-field {
        background-color: white;
        color: $main-color;
      }

      .stuff__search-form-button {
        filter: sepia(10) saturate(52.5) hue-rotate(179deg) saturate(76.5) contrast(64.5) grayscale(0.35) hue-rotate(335deg);
      }
    }

    &-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 14px;
      width: 12px;
      height: 12px;
      padding: 0;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      z-index: 3;
      @media screen and (min-width: 961px) {
        right: 30px;
        width: 16px;
        height: 16px;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-field {
      outline: none;

      color: $main-color;
      font-size: 14px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 13px;
      background: none;
      padding: 0;
      border: none;
      z-index: 3;
      width: calc(100% - 50px);
      @media screen and (min-width: 961px) {
        left: 16px;
      }

      &::-ms-clear {  display: none; width : 0; height: 0; }
      &::-ms-reveal {  display: none; width : 0; height: 0; }
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration { display: none; }
      &:focus ~ label[for="finder_doc_val"]{
        top: 20%;
        font-size: 10px;
      }
    }

  }

  label[for="finder_doc_val"]{
    color: gray;
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    pointer-events: none;
    transition: all .3s;
    @media screen and (min-width: 961px) {
      left: 16px;
    }
    //&.focus{
    //  top: 20%;
    //  font-size: 10px;
    //}
    &.valid{
      top: 20%;
        font-size: 10px;
    }
  }


  &__search-dropdown {
    box-sizing: border-box;
    padding: 13px 16px;
    border: 1px solid #D2D2D2;
    position: absolute;
    left: 0;
    top: 49px;
    z-index: 100;
    background: white;
    display: none;
    @media screen and (min-width: 1025px) {
      top: 79px;
    }


    &_item {
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &_title {
      font-size: 12px;
      color: rgba($main-color, .6);
      margin-bottom: 8px;
      @media screen and (min-width: 769px) {
        font-size: 14px;
      }
    }

    &_link {
      display: block;
      color: $main-color-dark;
      font-size: 12px;
      margin-bottom: 8px;
      transition: color .2s;
      @media screen and (min-width: 769px) {
        font-size: 14px;
      }

      &:last-child {
        margin-bottom: 0;
      }
      &:hover, &:focus, &.selected{
        color: $accent-color;
      }
    }

  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    @media screen and (min-width: 1025px) {
      flex-basis: 50%;
      margin-bottom: 0;
      align-items: center;
      justify-content: flex-start;
    }

    &_item {
      position: relative;
      font-size: 14px;
      color: $main-color;
      line-height: 120%;
      padding: 5px 32px 7px 9px;
      margin-right: 1px;
      margin-bottom: 12px;
      cursor: pointer;
      &::after{
        position: absolute;
        display: block;
        content: '';
        width: calc(100% - 5px - 32px);
        height: calc(100%);
        left: 9px;
        top: 0;
        border-bottom: 1px dashed $main-color;
      }

      @media screen and (min-width: 1025px) {
        margin-bottom: 1px;
        border: none;
        margin-right: 1px;
        line-height: unset;
        &:last-child {
          margin-right: 0;
        }
        &::after{
          height: calc(100% - 7px);
        }
      }
      @media screen and (min-width: 1400px){
        margin-bottom: 0;
        font-size: 16px;
      }

      &_active {
        border-bottom: none;
        color: white;
        background-color: $main-color;
        padding: 5px 32px 7px 9px;
        &::after{
          display: none;
        }
      }

      &_cancel {
        position: absolute;
        margin-left: 5px;
        top: calc(50% - 1px);
        transform: translateY(-50%);
      }
    }
  }

  &__ordinary {
    margin-bottom: 30px;
    .specialists__slider{
      @media screen and (min-width: 961px){
        transform: none;
        width: 100%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  &__find {
    display: none;
    margin-bottom: 30px;

    .specialists__slider{
      display: flex;
      flex-wrap: wrap;
      margin-top: -12px;
      @media screen and (min-width: 961px){
        margin-top: -18px;
      }
      .specialists__doctor{
        margin-top: 12px;
        @media screen and (min-width: 961px){
          margin-top: 18px;
        }
      }
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 18px;

      .title {
        margin-bottom: 0;
        margin-right: 15px;
        flex-basis: 60%;
        @media screen and (min-width: 961px){
          flex-basis: auto;
        }
      }

      .back {
        width: auto;
        display: inline-block;
        padding: 10px;
        text-align: right;
        font-size: 14px;
        text-align: center;
        @media screen and (min-width: 577px) {
          font-size: 16px;
        }
      }
    }

    //.specialists__slider {
    //  display: flex;
    //  justify-content: flex-start;
    //  flex-wrap: wrap;
    //  @media screen and (min-width: 961px) {
    //    margin-top: -20px;
    //  }
    //  .specialists__doctor {
    //    flex-basis: 100%;
    //    max-width: none;
    //    width: auto;
    //    display: flex;
    //    justify-content: center;
    //    margin-right: 0;
    //    @media screen and (min-width: 769px) {
    //      flex-basis: calc(100% / 2 - 5px);
    //    }
    //    @media screen and (min-width: 961px) {
    //      height: auto;
    //      margin-top: 20px;
    //      margin-right: 5px;
    //    }
    //    @media screen and (min-width: 1017px) {
    //      flex-basis: calc(100% / 3 - 5px);
    //    }
    //    @media screen and (min-width: 1326px) {
    //      flex-basis: calc(100% / 4 - 5px);
    //      margin-right: 0;
    //    }
    //  }
    //}

    .btn.btn_white {
      margin-top: 18px;
      @media screen and (min-width: 961px) {
        margin-top: 36px;
        max-width: 325px;
        margin-left: auto;
        margin-right: auto;
      }
    }


  }
}