.tools {
  margin-bottom: 30px;
  background: white;
  @media screen and (min-width: 961px){
    position: relative;
    margin-top: -60px;
    background-size: contain;
    margin-bottom: 0;
  }
  &__block{
    flex-grow: 1;
    max-width: 100%;
    padding: 15px 18px;
    box-sizing: border-box;
    @media screen and (min-width: 961px){
      padding: 50px 0;
      padding-top: 90px;
    }
  }
  &__head{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    @media screen and (min-width: 961px){
      margin-bottom: 36px;
    }
    .arrows{
      display: none;
      @media screen and (min-width: 961px){
        display: flex;
        position: static;
      }
    }
  }
  &__slider{
    max-width: 100%;
    .slick-list {
      display: flex;
      .slick-track {
        display: flex;
      }
    }
    &_item{
      display: block !important;
      margin-right: 10px;
      //max-height: 300px;
      position: relative;
      width: 345px;
      height: 275px;
      &::before{
        position: absolute;
        display: block;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(179.96deg, rgba(42, 68, 114, 0) 18.76%, rgba(42, 68, 114, 0.55) 49.37%);
      }
      &:hover{
        .tools__slider_title{
          display: none;
        }
        .tools__slider_title_hover{
          display: block;
        }
      }
      img{
       display: none;
      }
    }
    &_title{
      margin: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 22px 18px;
      font-size: 18px;
      color: white;
      font-weight: bold;
      &_hover{
        font-weight: normal;
        display: none;
        margin: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 22px 18px;
        font-size: 18px;
        color: white;
      }
    }
  }
  &__position {
    font-size: 14px;
    color: #2A4472;
    @media screen and (min-width: 577px) {
      font-size: 18px;
    }
    @media screen and (min-width: 769px) {
      font-size: 22px;
    }
    @media screen and (min-width: 961px) {
      flex-grow: 1;
      text-align: right;
      margin-right: 65px;
    }

    &_current {
      font-size: 20px;
      font-weight: bold;
      @media screen and (min-width: 577px) {
        font-size: 24px;
      }
      @media screen and (min-width: 769px) {
        font-size: 28px;
      }
      @media screen and (min-width: 961px) {
        font-size: 30px;
      }
    }
  }
}
