.tools {
  margin-bottom: 30px;
  background: white;
  @media screen and (min-width: 961px){
    position: relative;
    z-index: 0;
    margin-top: -60px;
    background-size: contain;
    margin-bottom: 0;
  }
  &__block{
    flex-grow: 1;
    max-width: 100%;
    padding: 15px 18px;
    box-sizing: border-box;
    @media screen and (min-width: 961px){
      padding: 50px 0;
      padding-top: 90px;
    }
  }
  &__head{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    @media screen and (min-width: 961px){
      margin-bottom: 36px;
    }
    .arrows{
      display: none;
      @media screen and (min-width: 961px){
        display: flex;
        position: static;
      }
    }
  }
  &__slider{
    @media screen and (min-width: 577px){
      margin: 0 -10px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .slick-list {
      display: flex;
      .slick-track {
        display: flex;
      }
    }
    &_item{
      display: block !important;
      //max-height: 300px;
      position: relative;
      width: 345px;
      height: 275px;
      margin: 0;
      flex-basis: 100%;
      @media screen and (min-width: 577px){
        margin: 0 10px;
      }
      @media screen and (min-width: 769px){
        flex-basis: calc(50% - 20px);
      }
      @media screen and (min-width: 961px){
         flex-basis: calc(100% / 3 - 20px);
      }
      @media screen and (min-width: 961px){
        flex-basis: calc(100% / 4 - 20px);
      }
      &::before{
        position: absolute;
        display: block;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(179.96deg, rgba(42, 68, 114, 0) 18.76%, rgba(42, 68, 114, 0.55) 49.37%);
      }
      img{
       display: none;
      }
      &:hover{
        .tools__slider_title{
          opacity: 0;
        }
        .tools__slider_title_hover{
          opacity: 1;
        }
      }
    }
    &_title{
      margin: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 22px 18px;
      font-size: 18px;
      color: white;
      font-weight: bold;
      opacity: 1;
      transition: opacity .25s;
      &_hover{
        font-weight: normal;
        display: block;
        margin: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 22px 18px;
        font-size: 18px;
        color: white;
        opacity: 0;
        transition: opacity .25s;
      }
    }
  }
  &__position {
    font-size: 12px;
    color: $main-color;
    @media screen and (min-width: 577px) {
      font-size: 16px;
    }
    @media screen and (min-width: 961px) {
      flex-grow: 1;
      text-align: right;
      margin-right: 65px;
    }

    &_current {
      font-size: 20px;
      font-weight: bold;
      @media screen and (min-width: 577px) {
        font-size: 24px;
      }
      @media screen and (min-width: 1400px) {
        font-size: 30px;
      }
    }
  }
}
