.units {
  @media screen and (max-width: 960px) {
    .row {
      margin-bottom: 30px;
    }
    .container {
      padding: 0;
    }
  }
  @media screen and (min-width: 961px) {
    background-color: $bg-gray;
    position: relative;
  }


  &__block {
    width: 100%;
    @media screen and (min-width: 961px) {
      box-shadow: 0 10px 30px rgba(12, 28, 56, 0.08);
      margin-bottom: 30px;
    }
  }

  &__head {
    background: #F6F7F8;
    padding: 18px 0 0 15px;
    @media screen and (min-width: 961px) {
      padding-top: 40px;
      background: $bg-gray;
    }

    .title {
      margin-bottom: 18px;
      @media screen and (min-width: 961px) {
        margin-bottom: 25px;
      }
      @media screen and (min-width: 1400px) {
        margin-bottom: 35px;
      }
    }
  }

  &__menu {
    ul {
      padding: 0;
      list-style: none;
      margin: 0;
    }

    &-item {
      margin-right: 55px;
      display: inline-block;
      padding-bottom: 22px;
      @media screen and (max-width: 960px) {
        padding-bottom: 0;
      }
    }

    &-link {
      font-weight: 600;
      color: $main-color;
      transition: color .5s;

      font-size: 16px;
      padding-bottom: 16px;
      @media screen and (min-width: 961px) {
        font-size: 18px;
        padding-bottom: 20px;
        &:hover {
          color: $accent-color;
          border-bottom: 2px solid $accent-color;
          height: calc(100% - 2px);
        }
      }

      &::after {
        transition: all .5s;
      }

      &_active {
        color: $accent-color;
        position: relative;
        @media screen and (min-width: 961px) {
          border-bottom: 2px solid $accent-color;
          height: calc(100% - 2px);
        }
        @media screen and (max-width: 960px) {
          transition: background-color .5s;
          &::after {
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $accent-color;
            left: 0;
            bottom: 0;
            position: absolute;
            transition: background-color .5s;

          }
        }
      }

      &:focus {
        outline: none;
      }

    }
  }

  &__content {
    background-color: white;
    padding: 15px;
    @media screen and (min-width: 961px) {
      padding: 40px 15px;
    }
    @media screen and (min-width: 1400px) {
      padding: 40px 0;
    }


    &-image {
      display: none;
      @media screen and (min-width: 961px) {
        flex-basis: calc(100% / 4);
        //min-width: 325px;
        //height: 330px;
        background: url("../../img/units/content-image.png") center no-repeat;
        background-size: cover;
        position: relative;
        display: inline-block;
        margin-right: 20px;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: linear-gradient(179.96deg, rgba(42, 68, 114, 0) 18.76%, rgba(42, 68, 114, 0.55) 49.37%);
        }

        p {
          position: absolute;
          left: 0;
          bottom: 0;
          color: white;
          padding: 40px 25px;
          font-size: 16px;
          margin: 0;
          @media screen and (min-width: 1400px) {
            font-size: 18px;
          }
        }
      }
    }

    &-services {
      display: none;

      &_active {
        width: 100%;
        height: auto;
        display: block;
        @media screen and (min-width: 577px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        @media screen and (min-width: 961px) {
          justify-content: stretch;
        }
      }
    }
  }

  &__column {
    @media screen and (max-width: 960px) {
      margin-bottom: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 577px) {
      flex-basis: calc(100% / 4 - 10px);
    }
    @media screen and (min-width: 769px) {
      flex-basis: calc(100% / 3 - 10px);
    }
    @media screen and (min-width: 961px) {
      flex-basis: calc(100% / 4 - 10px);
      max-width: 325px;
    }
    @media screen and (min-width: 1400px) {
      flex-basis: calc(100% / 4);
    }

    ul:last-child {
      li:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin: 0;
      display: block;
      padding: 0;
      list-style: none;

      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }

    }
  }


  &__list-item {
    display: flex;
    margin-bottom: 29px;
    padding-left: 30px;
    position: relative;
    @media screen and (max-width: 960px) {
      margin-bottom: 18px;
    }

    .main-letter {
      position: absolute;
      left: 0;
      color: $accent-color;
      font-weight: bold;
    }
  }

  &__item-link {
    color: $main-color;

    &:hover {
      color: $accent-color
    }
  }


  &__emergency-room {
    flex-grow: 1;
    background-color: white;
    position: relative;
    z-index: 10;
    max-width: 100vw;
    padding: 18px 15px;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px rgba(12, 28, 56, 0.08);
    @media screen and (min-width: 961px) {
      box-shadow: 0 10px 30px rgba(12, 28, 56, 0.08);
      padding: 40px 0 45px 0;
      margin-bottom: 60px;
      box-sizing: content-box;
      .content {
        padding: 0 15px;
      }
    }
    @media screen and (min-width: 1400px) {
      .content {
        padding: 0;
      }
    }

    .title {
      @media screen and (max-width: 960px) {
        line-height: 120%;
        margin-bottom: 18px;
      }
      @media screen and (min-width: 961px) {
        margin-bottom: 25px;
      }
      @media screen and (min-width: 1400px) {
        margin-bottom: 35px;
      }
    }
  }

  &__features {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 961px) {
      justify-content: space-between;
    }

    ul {
      padding: 0;
      display: block;
      list-style: none;
      margin: 0;
      width: 100%;
      @media screen and (min-width: 961px) {
        flex-basis: calc(100% / 3 - 20px);
      }
      @media screen and (min-width: 1400px) {
        flex-basis: auto;
        max-width: 641px;
      }

      li {
        margin-bottom: 20px;

        &:last-child {
          margin: 0;
        }
      }

      &:nth-child(1) {
        @media screen and (max-width: 960px) {
          margin-right: 0;
          padding-bottom: 18px;
          border-bottom: 1px solid rgba(10, 24, 49, 0.07);
          margin-bottom: 18px;
        }

        @media screen and (min-width: 961px) {
          margin-right: 30px;
        }

        li {
          color: rgba(#0A1831, .8);

          &:before {
            display: inline-block;
            content: '';
            width: 14px;
            height: 6px;
            margin-right: 10px;
            background-color: $accent-color;
            transform: translateY(-50%) skewX(-15deg);
            @media screen and (max-width: 960px) {
              font-size: 16px;
            }
          }

          span {
            color: $accent-color;
            font-weight: bold;
          }
        }
      }
    }


    &_hurt-list {
      @media screen and (max-width: 960px) {
        margin-bottom: 18px !important;
      }
      @media screen and (min-width: 961px) {
        max-width: 326px !important;
      }
    }

    &_hurt-item {
      color: $main-color;
      text-decoration: underline;
      font-weight: bold;
    }

    &_hurt-link {
      color: $main-color;


    }

    &-image {
      max-width: 325px;
      height: 190px;
      background: url("../../img/units/features-image.png") center no-repeat;
      position: relative;
      display: none;
      @media screen and (min-width: 961px) {
        display: block;
        flex-basis: calc(100% / 3 - 20px);
        height: auto;
        background-size: cover;
      }
      @media screen and (min-width: 1400px) {
        height: 190px;
      }

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(179.98deg, rgba(42, 68, 114, 0) 18.76%, rgba(42, 68, 114, 0.55) 49.37%);;
      }

      p {
        position: absolute;
        padding: 15px 70px 15px 15px;
        font-size: 16px;
        line-height: 140%;
        bottom: 0;
        color: white;
      }
    }
  }

  &__countries {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 15px;
    @media screen and (min-width: 961px) {
      margin-bottom: 60px;
      padding: 0;
    }
  }

  &__country {
    display: block;
    background-color: white;
    color: $main-color;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    text-align: center;
    flex-basis: calc(100% / 2 - 9px);
    padding: 15px 0;
    margin-bottom: 18px;

    &:nth-child(3) {
      margin: 0;
    }

    &:last-child {
      margin: 0;
    }

    @media screen and (min-width: 961px) {
      flex-basis: calc(100% / 4 - 20px);
      padding: 27px 0;
      font-size: 20px;
      margin-bottom: 0;
    }

    &:hover {
      background-color: $bg-gray;

      &::before {
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        background-color: white;
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .units__country-image {
        margin-top: -4px;
      }
    }

    &-image {
      width: 54px;
      height: 36px;
      margin: 0 auto 15px auto;

      img {
        height: 100%;
      }
    }
  }
}