.unit-simple{
  margin-bottom: 30px;
  @media screen and (min-width: 961px){
    margin-bottom: 0;
  }
  &__block{
    flex-grow: 1;
    display: flex;
    max-width: 100%;
    flex-direction: column;
    background: white;
    @media screen and (min-width: 961px){
      flex-direction: row;
      background: none;
    }
  }
  &__slider{
    @media screen and (min-width: 961px){
      max-width: 50%;
    }

    .arrow{
      opacity: .9;
      @media screen and (min-width: 961px){
        padding:{
          top: 25px;
          bottom: 25px;
        }
        &::before{
          position: static;
        }
      }
    }
    .arrows{
      &__arrow-left{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        padding: 20px 18px;
        margin-right: 0;
        background: white;
        @media screen and (min-width: 961px){
          bottom: 0;
          top: unset;
          left: unset;
          right: 137px;
          transform: unset;
          padding:{
            top: 38px;
            bottom: 38px;
            left: 67.5px;
            right: 9px;
          }
        }
      }
      &__arrow-right{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        padding: 20px 18px;
        margin-right: 0;
        background: white;
        @media screen and (min-width: 961px){
          bottom: 0;
          top: unset;
          transform: unset;
          padding:{
            top: 38px;
            bottom: 38px;
            left: 9px;
            right: 67.5px;
          }
        }
      }
    }
    &_item{
      min-height: 215px;
      @media screen and (min-width: 961px) {
        min-height: 584px;
      }
      img{
        display: none;
      }
    }
  }
  &__desc{
    padding: 18px 15px;
    box-sizing: border-box;
    @media screen and (min-width: 961px) {
      padding: 15px 15px 15px 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .title{
      margin-bottom: 18px;
      @media screen and (min-width: 961px){
        margin-bottom: 36px;
      }
    }
  }
  &__text{
    font-size: 16px;
    line-height: 140%;
    color: rgba($main-color-dark, .8);
  }
}