@import "../fonts";
@import "../common";
@import "../interface";
@import "../submit-popup";
@import "../parallax-squares";

@import "../header";
@import "../dropdown-menu";
@import "../appointment";
@import "../costs-top";
@import "../cost";

@import "../footer";

@import "../animations";

.cost{
  margin-bottom: 0;
  &:last-child{
    margin-bottom: 30px;
  }
  &__block{
    @media screen and (min-width: 961px){
      padding: 30px 0;
    }
  }
}
