@import "../fonts";
@import "../common";
@import "../interface";
@import "../submit-popup";
@import "../parallax-squares";

@import "../header";
@import "../dropdown-menu";
@import "../about-unit";
@import "../nav-links";
@import "../direction-master";
@import "../direction-services";
@import "../unit-simple";
@import "../cost";
@import "../specialists";
@import "../tools";
@import "../appointment";
@import "../feedback";
@import "../for-patient";
@import "../footer";

@import "../animations";


.feedback{
  background: none;
}
.appointment{

  @media screen and (min-width: 961px){
    margin-top: -60px;
  }
  .appointment__block {
    @media screen and (min-width: 961px){
      margin-top: 90px;
      margin-bottom: 60px;
    }
  }
}

.appointment.second-block{
  margin-top: 0;
  background: white;
  .appointment__block{
    position: relative;
    top: -30px;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.direction-master{
  &__block{
    padding-bottom: 90px;
  }
}

.breadcrumbs{
  display: block;
  top: 18px;
}

.about-unit__desc{
  padding-top: 60px;
  @media screen and (min-width: 961px) {
    padding: 0;
  }
}
