@import "../fonts";
@import "../common";
@import "../interface";
@import "../submit-popup";
@import "../parallax-squares";
@import "../header";
@import "../dropdown-menu";
@import "../appointment";
@import "../content";
@import "../footer";

@import "../animations";


.breadcrumbs{
  display: none;
  @media screen and (min-width: 577px){
    display: block;
  }
}
