@import "../fonts";
@import "../common";
@import "../interface";
@import "../submit-popup";
@import "../parallax-squares";
@import "../header";
@import "../dropdown-menu";
@import "../appointment";
@import "../about-emergency-room";
@import "../all-contacts";
@import "../infoblock";
@import "../props";
@import "../footer";

@import "../animations";

.about-emergency-room{
  &__block{
    @media screen and (min-width: 961px){
      padding-bottom: 153px;
    }
  }
  &__content{
    ul{
      padding-left: 24px;
      margin: 0;
      margin-bottom: 18px;
      li{
        list-style:none;
        position: relative;
        font-size: 16px;
        line-height: 140%;
        padding-left: 24px;
        margin-left: -24px;
        color: rgba($main-color-dark,.8);
        &::before{
          display: block;
          content: url("../../img/for-patient/red-square.svg");
          transform: translateY(-2px);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      p{
        margin-bottom: 0;
      }
    }
  }
}

.about-emergency-room__block{
  >.about-emergency-room__content{
    margin-bottom: -18px;
  }
}