@import "../fonts";
@import "../common";
@import "../interface";
@import "../submit-popup";
@import "../parallax-squares";
@import "../header";
@import "../dropdown-menu";
@import "../appointment";
@import "../infoblock";
@import "../all-articles";
@import "../science-articles";
@import "../footer";

@import "../animations";


.breadcrumbs{
  display: none;
  @media screen and (min-width: 577px){
    display: block;
  }
}

.science-articles{
  &__content{
    width: auto;
    margin-bottom: auto;
    >*{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
