@import "../fonts";
@import "../common";
@import "../interface";
@import "../submit-popup";
@import "../parallax-squares";
@import "../header";
@import "../dropdown-menu";
@import "../appointment";
@import "../all-articles";
@import "../science-articles";
@import "../footer";

@import "../animations";


body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @media screen and (min-width: 961px ){
    min-height: calc(100vh - 130px);
  }
  section{
    flex-grow: 1;
  }
}

.breadcrumbs{
  display: none;
  @media screen and (min-width: 577px){
    display: block;
  }
}

.science-articles{
  &__content{
    width: auto;
    margin-bottom: auto;
    >*{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
