@import "../fonts";
@import "../common";
@import "../interface";
@import "../submit-popup";
@import "../parallax-squares";
@import "../header";
@import "../dropdown-menu";
@import "../appointment";
@import "../infoblock";
@import "../simple";
@import "../specialists";
@import "../feedback";
@import "../cost";
@import "../footer";

@import "../animations";
