@import "../fonts";
@import "../common";
@import "../interface";
@import "../submit-popup";
@import "../parallax-squares";

@import "../header";
@import "../dropdown-menu";
@import "../about-block";
@import "../about-unit";
@import "../appointment";
@import "../infoblock";
@import "../history";
@import "../control";
@import "../specialists";
@import "../diplomas";
@import "../social-media";
@import "../tools";
@import "../news";
@import "../partners";
@import "../feedback";
@import "../site-map";
@import "../footer";

@import "../animations";



.breadcrumbs{
  display: none;
}

.about-unit{
  &__features{
    display: none;
  }
}

.appointment{
  .appointment__block {
    @media screen and (min-width: 961px){
      margin-bottom: 0;
      margin-top: -30px;
    }
  }
}

.infoblock__block{
  @media screen and (min-width: 961px){
    padding-bottom: 90px;
  }
}

.diplomas{
  &__block{
    @media screen and (min-width: 961px){
      padding: 60px 0;
      padding-top: 90px;
    }
  }
}

.diplomas{
  @media screen and (min-width: 961px){
    background: white;
  }
}

.tools{
  @media screen and (min-width: 961px){
    background: white url("../../img/tools/bg-top-right.svg") top right no-repeat;
    background-size: auto 100%;
    margin-top: 0px;
  }
&__block{
  @media screen and (min-width: 961px){
    padding: 60px 0;
  }
}
}
.feedback {
  @media screen and (min-width: 961px) {
    padding-top: 90px;
  }
  .quote {
    @media screen and (min-width: 961px) {
      z-index: 1;
    }
    @media screen and (min-width: 1400px) {
      top: 0px;
    }
  }
}

.checkup-features{
  &__block{
    @media screen and (min-width: 961px){
      padding-top: 0;
    }
  }
}

