@import "../fonts";
@import "../common";
@import "../interface";
@import "../submit-popup";
@import "../parallax-squares";
@import "../header";
@import "../dropdown-menu";
@import "../about-emergency-room";
@import "../hurts";
@import "../nav-links";
@import "../unit-simple";
@import "../cost";
@import "../specialists";
@import "../tools";
@import "../direction-master";
@import "../infoblock";
@import "../appointment";
@import "../for-patient";
@import "../footer";

@import "../animations";

.about-emergency-room {
  &__content {
    .text_accent {
      @media screen and (min-width: 961px) {
        font-size: 18px;
      }
    }

    &_address {
      @media screen and (min-width: 961px) {
        font-size: 18px;
      }
    }

    &_list {
      display: none;
    }
  }
}


.cost {
  &__block {
    @media screen and (min-width: 961px) {
      padding-bottom: 0;
    }
  }
}

.specialists {
  &__block {
    @media screen and (min-width: 961px) {
      margin-bottom: -60px;
    }
  }
}

.appointment {
  .appointment__block {
    @media screen and (min-width: 961px) {
      margin-top: 90px;
      margin-bottom: 60px;
    }
  }
}

.tools {
  @media screen and (min-width: 961px) {
    margin-top: 0;
    background:  white url("../../img/tools/bg-top-right.svg") top right no-repeat;
  }
  &__block{
    @media screen and (min-width: 961px) {
      padding-top: 60px;
    }
  }
}

.for-patient{
  @media screen and (min-width: 961px) {
    background: none;
  }
  &__block{
    @media screen and (min-width: 961px) {
      padding-top: 60px;
      background: none;
    }
  }
}