@import "../fonts";
@import "../common";
@import "../interface";
@import "../submit-popup";
@import "../parallax-squares";
@import "../appointment";
@import "../header";
@import "../dropdown-menu";
@import "../staff";
@import "../specialists";
@import "../footer";

@import "../animations";

.specialists {
  &__slider {
    margin-bottom: 0;
    @media screen and (min-width: 961px) {
      display: flex;
      flex-wrap: wrap;
      margin-top: -20px;

      transform: none;
      width: 100%;

    }
  }

  &__doctor {
    @media screen and (min-width: 961px) {
      height: auto;
      margin-top: 20px;
      margin-right: 10px;
    }
  }
}











